[2015-05-13 20:57] KrauseFx opened #2 "Singleton"
I haven't quite yet understood the complete structure, but it seems like `Spaceship.something` uses a singleton. It is important to be able to maintain multiple instances of `Spaceship`. Is that possible right now?

[2015-05-13 20:58] KrauseFx opened #3 "Response Caching"
When executing `Spaceship.provisioning_profiles` it takes about a second to load. Does that send a request every time we call this method? If so, shouldn't we cache it locally and only clear the cache when we modify the profiles?

[2015-05-13 20:59] KrauseFx opened #4 "Refactor download and revoke methods"
What do you prefer?

[code]

or

[code]

the first thing would allow things like

[code]

I think calling `.delete` or `.download` on the profile/certificate/app directly makes much more sense. Can I refactor this?

[2015-05-13 21:03] KrauseFx opened #5 "Add filter method for certificates"
I think it makes sense to provide the most common helper methods:

Instead of

[code]

use

[code]

What do you think?

[2015-05-13 21:17] KrauseFx opened #6 "Error creating a new provisioning profiles"
I probably do something wrong:

[code]

and receive:

[code]

[2015-05-13 21:19] KrauseFx opened #7 "Team Selection"
Currently we're just taking the first team

[code]

It is really important to ask the user. I already got some code in `fastlane_core` I can integrate.

[2015-05-13 21:32] KrauseFx opened #8 "Named parameters"
With methods like `provisioning_profiles.create` it should be possible to use named parameters I think.

Instead of

[code]

[code]

and then we can call it using

[code]

What do you think?

[2015-05-13 21:33] #2 closed, assigned to nobody

[2015-05-14 17:40] KrauseFx opened #9 "Delete profile_types file"
I don't think we need it @snatchev https://github.com/KrauseFx/spaceship/blob/master/lib/spaceship/profile_types.rb

Are you using it for anything?

[2015-05-14 17:48] KrauseFx opened #10 "Register new devices"

[2015-05-14 17:49] KrauseFx opened #11 "Deleting of Provisioning Profiles"

[2015-05-14 17:50] KrauseFx opened #12 "Automatic Paging for accounts with many profiles/apps"

[2015-05-14 17:51] KrauseFx opened #13 "Clear @apps when deleting an app id"
Not sure if that's already implemented

[2015-05-14 20:19] KrauseFx opened #15 "Support CredentialsManager and Team Environment Variables"

[2015-05-15 14:56] #4 closed, assigned to nobody

[2015-05-15 15:00] #13 closed, assigned to nobody

[2015-05-15 15:01] #8 closed, assigned to nobody

[2015-05-16 15:39] KrauseFx opened #16 "Support nested interactions"
[code]

That would be super cool:

[code]

[2015-05-16 15:41] brianmichel opened #17 "Spaceship client should not rely on mutable state for response parsing"
Right now in the `client.rb` file, we make a network request, and then parse the response. However, instead of passing in the received response, we store the value as a variable on the class, which means that in a multi threaded environment this could produce interesting/bad results.

I think instead we should allow the requesting method to pass a callback block into the `request` method that will

[2015-05-16 15:41] KrauseFx opened #18 "Sensible Defaults"
[code]

instead of

[code]

I think providing a `type` instead of a `klass` is much more natural.

[2015-05-16 16:25] #7 closed, assigned to KrauseFx

[2015-05-16 16:26] KrauseFx opened #19 "Switch to ! operator for methods that change things"
e.g. `.create!` instead of `.create`

[2015-05-16 16:35] #15 closed, assigned to KrauseFx

[2015-05-16 16:37] #19 closed, assigned to KrauseFx

[2015-05-16 17:52] #11 closed, assigned to KrauseFx

[2015-05-16 18:04] KrauseFx opened #20 "create! methods not working"
[code]

[code]

[2015-05-16 18:11] #20 closed, assigned to nobody

[2015-05-16 18:13] KrauseFx opened #21 "Get that build to be green"

[2015-05-16 18:16] KrauseFx opened #22 "Improve documentation coverage"
You can now just run `yard` to generate a documentation in the `./doc` folder. This will also output the coverage of the documentation.

I think this can wait once we decided for all the bigger architectural decisions.

[2015-05-18 00:18] #21 closed, assigned to nobody

[2015-05-18 00:20] #6 closed, assigned to nobody

[2015-05-23 12:46] #5 closed, assigned to KrauseFx

[2015-05-23 15:13] KrauseFx opened #23 "Remove unused certificate values"
- `owner_name`
- `owner_id`

@snatchev They are always nil for me, am I missing something?

[2015-05-23 16:30] #18 closed, assigned to nobody

[2015-05-23 16:30] #16 closed, assigned to nobody

[2015-05-23 16:30] KrauseFx opened #24 "Finish the README"
I'll work on a great structure to make it immediately clear what `spaceship` is and what it can do :rocket:

[2015-05-23 16:35] #3 closed, assigned to nobody

[2015-05-23 20:04] KiranPanesar opened #25 "Can't use Spaceship"
Installed via `gem` and also tried the latest development version using `sudo bundle install && sudo rake install` on my local git repo. Install goes through fine, but I get the following error when trying to `require` it:

[code]

[2015-05-23 20:15] #25 closed, assigned to nobody

[2015-05-24 08:40] KrauseFx opened #27 "Handle invalid provisioning profiles"
The Xcode API doesn't list invalid provisioning profiles

While the Dev Portal API does:

[code]

We could go ahead provide a list of `invalid` provisioning profiles (a separate subclass) that can be used to make sure a name is not taken yet. Besides a name, the other thing this might be useful for: Repairing existing provisioning profiles instead of always creating new ones.

[2015-05-24 11:03] KrauseFx opened #28 "Write tests for the csrf_token"

[2015-05-24 11:39] #17 closed, assigned to nobody

[2015-05-24 11:39] #27 closed, assigned to nobody

[2015-05-24 12:19] KrauseFx opened #29 "Automatic fetching of self after updating the provisioning profile"
This shouldn't be necessary

[code]

[2015-05-24 13:32] KrauseFx opened #30 "Improve error messages on timeout"
[code]

How should timeout be handled? How about we try it up to 3 times and then raise the exception?

This line is causing the exception when there is a timeout:

[code]

[2015-05-24 16:57] #12 closed, assigned to KrauseFx

[2015-05-24 17:34] #28 closed, assigned to KrauseFx

[2015-05-24 17:39] KrauseFx opened #31 "Remove all debugging code"
pry, proxy, etc.

[2015-05-24 18:03] KrauseFx opened #32 "Creating a certificate doesn't work"
I tried using

[code]

[code]

[2015-05-24 18:31] KrauseFx opened #33 "Handle app identifier doesn't exist"
e.g.

[code]

[2015-05-24 20:46] KrauseFx opened #34 "Find Profile by Name and ID"

[2015-05-24 21:34] #34 closed, assigned to KrauseFx

[2015-05-24 21:46] #30 closed, assigned to KrauseFx

[2015-05-24 21:58] #33 closed, assigned to KrauseFx

[2015-05-24 22:15] KrauseFx opened #35 "Support Enterprise profiles"
Need to test if that's working already. It's probably another type we need to add.

[2015-05-25 10:19] #35 closed, assigned to KrauseFx

[2015-05-25 14:28] #24 closed, assigned to KrauseFx

[2015-05-25 14:29] #10 closed, assigned to nobody

[2015-05-25 18:20] #32 closed, assigned to nobody

[2015-05-25 20:53] #23 closed, assigned to nobody

[2015-05-26 01:11] KrauseFx opened #38 "Document base class"
@snatchev could you document the `Base` class and its methods?

[2015-05-26 03:36] #29 closed, assigned to KrauseFx

[2015-05-26 09:06] #22 closed, assigned to KrauseFx

[2015-05-26 09:06] KrauseFx opened #39 "Link to public documentation"

[2015-05-26 09:09] #39 closed, assigned to KrauseFx

[2015-05-26 19:27] KrauseFx opened #40 "Fix const check"
@snatchev this is not working on my machine: https://github.com/KrauseFx/spaceship/commit/a362bfc525ac6f2190000b93d80bb34ae92e85fe

I had to disable the check for the initial beta release. Maybe this depends on the Ruby version? I'm on `ruby 2.0.0p481`.

[2015-05-28 16:55] #40 closed, assigned to nobody

[2015-05-29 18:22] KrauseFx opened #41 "Spaceship logging"
I'd like a verbose flag that shows the requests that are currently being sent.

[2015-06-07 03:40] KrauseFx commented on #41
Finished :+1:

[2015-06-07 03:40] #41 closed

[2015-06-07 03:40] KrauseFx commented on #31
Finished :+1:

[2015-06-07 03:40] #31 closed

[2015-06-07 08:15] KrauseFx commented on #9
This is now updated :+1:

[2015-06-07 08:15] #9 closed

[2015-06-11 04:05] KrauseFx commented on #38
Thank you for finishing this @snatchev :+1:

[2015-06-11 04:05] #38 closed

[2015-06-11 13:15] vladislive opened #45 "Create push certificate from existing csr"
Hello. The same issue like in pem: https://github.com/fastlane/PEM/issues/53
I've realised that issue for me, but this tool works much faster. So I've tried to do the same:
1) generated csv, pkey file like this:
[code]
2) write csr and pkey variables to files
3) run push create:
[code]
Everything OK.
But when I try to do the same with created files there is something wrong:
1) read csr, pkey varia

[2015-06-11 13:19] KrauseFx commented on #45
This is an error on our site which needs to be fixed. @snatchev can you take a look at this or should I?

[2015-06-11 16:39] sfransen opened #46 "Ok I have a basic question"
Am I writing a new Gem to use this tool it looks like? as nothing seem to happen with I use it in irb

as I try using the "irb"
 and I enter in the
require "spaceship".
then I try
following you steps
 of login
Spaceship.login("felix@krausefx.com", "password") of course I enter in valid info
and then tried to add a new device to license
 I get new device added to license and no error is display

al

[2015-06-11 17:21] sfransen commented on #46
never never mind I figure this out Thanks you so much

[2015-06-11 17:21] #46 closed

[2015-06-11 23:41] sfransen opened #48 "I can't seem to make the Spaceship.provisioning_profile work they just seem to hang and never return."
I can't seem to make the Spaceship.provisioning_profile work they just seem to hang and never return.
I do have large account with a lots of provision profiles I will try this on a smaller account.

# Get all available provisioning profiles
profiles = Spaceship.provisioning_profile.all

# Get all App Store profiles
profiles_appstore = Spaceship.provisioning_profile.app_store.all

# Get all AdHoc p

[2015-06-12 00:28] sfransen commented on #48
I see what is wrong. you are creating a huge json file of all the devices and everything about the provision profiles . I have over 3000 devices in license and over 800 provision profiles. . I have to look at what you are doing to get a better array to try and do this, It take forever to get the simple array to walk thru to down the files or to add all devices to provision profile. cupertino is be

[2015-06-12 02:19] sfransen commented on #48
I tried these command on normal small account the command seem to work I have not tested all of them.
 Maybe it maybe to the pagesize you have set to 500 I will play around and see what will make it work

[2015-06-12 04:37] KrauseFx commented on #48
@sfransen `spaceship` uses the same API Xcode uses, I can't talk about the performance and speed of it.

[2015-06-15 16:31] tobiasstrebitzer opened #51 "Spaceship::App won't set certain attributes"
When fetching App's (i.e. bundle identifiers in developer center), __certain attributes won't be fetched:__

[code]

__From what i've found out the following applies:__
1. Requests to listAppIds.action will return a list of AppIds, which won't contain certain attributes (this makes sense, as they are not visible in the developer center AppId list view).
2. To fetch these additional attributes, a r

[2015-06-16 03:57] KrauseFx commented on #51
The `.details` method sounds like a good idea. It's the same web request the Dev Portal does when opening details of an App ID, right?

Go ahead :+1:

[2015-06-16 07:41] tobiasstrebitzer commented on #51
right

I'll go ahead then. we need it to check whether push notifications are set up properly (@prod_push_enabled) to determine if we should run the PEM action.

[2015-06-16 08:03] KrauseFx commented on #51
Perfect, thank you @tobiasstrebitzer :+1:

[2015-06-16 13:10] cybertk opened #53 "`provisioning_profile.download` returns a HTML file"
See

![screen shot 2015-06-16 at 21 10 22](https://cloud.githubusercontent.com/assets/455809/8183632/00a9c7cc-146c-11e5-8301-12714894300b.png)

[2015-06-16 13:15] cybertk commented on #53
I thought it failed due to API rating, so I add `sleep 10` before download. Still failed.

[2015-06-18 16:51] gspiers opened #54 "Intermittent SSL errors"
It's not frequent but now and then when running fastlane, specifically in my lane the first thing that runs is produce, I get an error (see below).

I've not found the cause of the error yet but some searching suggests that a misconfigured server can cause the problem. [Other suggestions](http://stackoverflow.com/a/23370905) are that the SSL version needs to be specified (I think it's set on Net::

[2015-06-18 19:00] snatchev commented on #54
I believe this issue has been resolved (at least I am no longer able to reproduce it) by forcing the HTTP Client to use TLSv1 instead of SSL.

[2015-06-19 08:32] gspiers commented on #54
Is that ok security wise? I thought TLS v1 has had some issues lately? The developer portal seems to use TLS v1.2, at least it does when connecting by Chrome "The connection uses TLS 1.2."

[2015-06-19 08:32] gspiers commented on #54
Also, thanks for the quick response on this :)

[2015-06-22 14:38] snatchev commented on #54
I know TLSv1.1 and 1.2 were added recently, but I need to check exactly which versions of ruby we plan to support.

[2015-06-23 15:16] snatchev commented on #45
The `csr` parameter needed to be of type `OpenSSL::X509::Request` which responds to the `to_pem` method. With commit 4fcf860 if it's passed in as a `String` (as it would from `File.read( ... )`), the method casts the parameter to a `Request`.

Added a test that demonstrates this workflow.

[2015-06-23 15:16] #45 closed

[2015-06-23 15:20] snatchev commented on #53
@cybertk is this method still returning HTML? Could you include the request parameters using verbose logging?

[2015-06-23 15:54] snatchev commented on #54
I don't think we are supporting anything older than ruby 2.0.0, so `TLSv1.2` will be forced. I haven't been able to confirm whether a TLSv1 connection gets automatically upgraded, so we will be safe and force the latest.

[2015-06-23 16:41] gspiers commented on #54
Sounds like good idea to force latest TLSv1.2. Thanks again @snatchev :+1:

[2015-06-24 11:16] KrauseFx commented on #45
Thank you @snatchev :+1:

[2015-06-24 11:16] KrauseFx commented on #53
@cybertk Or you can also copy the relevant output from `/tmp/spaceship.log`

[2015-06-24 11:16] KrauseFx commented on #54
@snatchev Should I prepare a new release of `spaceship`?

[2015-06-25 14:49] ericertl commented on #48
So, I though I was having issue with sigh, but I'm actually having the same issue as sfransen.
I don't have so many devices, but I have more than 1600 distribution profiles.
I know you use Xcode API and you don't have much control over it, but if you find some workaround to fix this, it'd be awesome.

[2015-06-25 15:27] sfransen commented on #48
I use Cupertino for this it is very fast I added spaceship to Cupertino it is a combo

Sent from my iPhone5

[2015-06-25 15:44] ericertl commented on #48
Cupertino doesn't work for me, as I need to create profiles (and cupertino doesn't support this)
Also I don't use spaceship directly, but trough sigh (another exelent work by @KrauseFx ) which simplifies things a lot.

[2015-06-27 00:16] KiranPanesar opened #56 "iTunes Connect Support"
We've had a brief discussion on the Slack channel about adding iTunes Connect support to Spaceship. While we are still undecided on architecture/implementation, I think we can all agree that this is of real importance to the library. The only issues that occur when I use `Fastlane` is with iTunes Connect calls.

This ticket is to act as a place of discussion for the architecture and implementation

[2015-06-27 02:21] KrauseFx commented on #56
Thanks for creating this issue.

I was thinking of having a clear separation between those platforms. Just an example: You create a new app and `spaceship` now creates the app on both the Dev Portal and iTC. What does the method return? Do we have one app object representing a combination of the 2 platforms?

My initial idea was to have 2 namespaces for the 2 web platforms:

[code]

But the code l

[2015-06-27 02:48] sfransen commented on #48
I have a branch of Cupertino that will create new appID and new provision
profile file for you
https://github.com/sfransen/cupertino

On Thu, Jun 25, 2015 at 8:44 AM, Eric <notifications@github.com> wrote:

[2015-06-27 13:25] KiranPanesar commented on #56
Yeah, I was suggesting all the models be shared across Dev Portal and iTC. This way we can provide the cleanest interface for the both platforms. We would still have the separate namespaces for each platform, but the default `Spaceship.login` call would call both namespaces. What are the cons of this approach?

On the other hand, if `spaceship` is wrapped by the Fastlane tools anyway, it won't inc

[2015-06-28 00:00] KrauseFx commented on #56
Just think of `App`, which is available on both iTC and ADV, but with completely different properties. Also, an app might be available on ADV and not on iTC. We'll need to somehow separate the 2 platforms.

Additionally, there are things like iTC Analytics, which is clearly a separate thing.

That's why I was thinking about an object oriented approach, having an "abstract" client with 2 subclasses

[2015-06-28 19:05] KrauseFx commented on #56
@KiranPanesar @snatchev How about just having a different name than `spaceship` for the iTC part?

Instead of
[code]

we could do

[code]

From the user perspective this does make sense. What do you think? Also, keep in mind, most of the times, the users are *us*, when we use the tools to implement the communication layer of other tools.

[2015-06-29 14:05] snatchev commented on #56
@KiranPanesar @KrauseFx can we assume that the `login` parameters will always be the same for Apple Dev Portal and iTunes Connect?

[2015-06-29 14:19] snatchev commented on #56
My initial thoughts are that we create two new classes under `Spaceship::Client` such as:
`Spaceship::Client::DevPortal` and `Spaceship::Client::ITunesConnect`.
The current instance methods of `Spaceship::Client` will get moved to `Spaceship::Client::DevPortal`
This is beneficial since the models pass around 1 client, and when they need to access the response data it would change like this:

[code

[2015-06-29 14:48] ericertl commented on #48
I'd love to try it out, but IDK how. sudo gem install cupertino installed the nomad build.

I'm also not sure how to set the certificateid. Would that take the name of the certificate? If not, how can I get the id?

[2015-06-29 15:00] KrauseFx commented on #56
I'm really against having an app object to replicate both the data from iTC and ADP. This will cause us huge problems in the future. These are 2 different things, they share the same name, but on ADP it's an App Identifier and on iTC it's an actual app from the App Store.

Keep in mind: We *are* allowed to do breaking changes in case we need to do so.

[2015-06-29 15:14] snatchev commented on #56
I think `App` may have been improperly named. It really should be `Identifier` no? Are we able to uniquely name all of the other models?

[2015-06-29 15:19] sfransen commented on #48
Do the normal install and the download the zip file
And then replace the files in the folder /Library/Rudy/gems/2.0/gems/Cupertino

Sent from my iPhone5

[2015-06-29 15:31] KrauseFx commented on #56
@snatchev you mean if the other models are unique? They sure are, as iTC doesn't know anything about profiles, certificates, push and the other things. On the iTC spaceship we'll be able to retrieve and update app metadata, distribute new TestFlight builds, invite testers and similar things.

[2015-07-05 15:35] KrauseFx commented on #56
I'll close this issue for now

[2015-07-05 15:35] #56 closed

[2015-07-07 09:27] siuying opened #62 "Spaceship will always failed after I changed my account password"
After I changed my password, running fastlane always result in error:

[code]

I expect spaceship to ask me to enter new password, but it just crash.

Manually delete the entry 'fastlane.<account>" can workaround the issue.

Moved from: https://github.com/KrauseFx/fastlane/issues/390

[2015-07-07 17:12] KrauseFx commented on #62
I'm not 100% sure how to solve this: If `spaceship` were to remove the password from the Keychain it means, the user gets asked for the password next time. That's okay, but it's a big problem on Continuous Integration system, where there must not be any user interaction.

@snatchev what do you think about this?

[2015-07-07 23:14] chappejw commented on #48
Is there a way to install the latest spaceship beta? I have seen a lot of changes to the spaceship project, but I guess if it's not released, I can't simply "sudo gem update spaceship" because the latest changes are not released yet?

[2015-07-08 06:58] siuying commented on #62
The main problem here is there is no UI  to update or remove the credential. Maybe a command line option to force new login?

I also noticed that in ``credentials_manager`` gem, there is logic to ask for new password if the one provided is wrong. (https://github.com/fastlane/credentials_manager/blob/master/lib/credentials_manager/password_manager.rb#L51)

[2015-07-08 08:44] KrauseFx commented on #48
@chappejw if you do `sudo gem update spaceship` you'll have the latest release, which is okay. The new part is all about iTunes Connect and has nothing to do with the Apple Dev Portal.

[2015-07-08 20:37] doapp-ryanp opened #63 "methods after login returning UnexpectedResponse"
via `irb` I run:

[code]

At this point I get what looks to be a valid cookie to stdout.  When I then run `Spaceship.select_team`

I get:

[code]

I get this `Spaceship::Client::UnexpectedResponse` on any method I call (`all_apps = Spaceship.app.all`) etc.  Any ideas?

Using `ruby 2.2.2p95 (2015-04-13 revision 50295) [x86_64-darwin14]`

I also saw in a closed issue there is some verbose logging to

[2015-07-08 21:04] snatchev commented on #63
@doapp-ryanp thanks for reporting, you can check the file `/tmp/spaceship.log`
You can also see the requests using by running `irb` with the debug flag like:
[code]

Note that you may need to have a http proxy such as http://www.charlesproxy.com or https://mitmproxy.org running on `localhost:8888`

[2015-07-08 21:31] doapp-ryanp commented on #63
Thanks for the quick response.  Running:

[code]

produces:

[code]

any ideas?

FWIW, when I enable debug and run `Spaceship.login` I get:
[code]
but without any of the cookie string output on stdout.  When I do not use debug I get back a `@cookie="myacinfo=...` which makes me tend to believe the login worked.  So its like DEBUG is breaking something...

[2015-07-09 07:33] KrauseFx commented on #63
[code]

@snatchev `DEBUG=1` sets the proxy to the local host to inspect traffic using Charles. I don't think it's working when you don't have a proxy running.

The App ID key is public and not associated with your account. It's always the same and doesn't change.

[2015-07-09 07:33] KrauseFx commented on #63
@doapp-ryanp Does it work for you when you use tools like `sigh`?

[2015-07-09 13:51] doapp-ryanp commented on #63
So turns out I am an idiot. I was using my creds for iTunes connect and not my dev center creds.  I skimmed over your README.md that clearly states that its for dev center only. I was under the impression that spaceship would work with both the connect and dev center APIs.

Are you going to have another, non-scrape/phatom based, API wrapper for iTunes connect so we can update listings and binaries

[2015-07-09 15:18] KrauseFx commented on #63
@snatchev Shouldn't `spaceship` show an appropriate error message when the login credentials are invalid?

Anyway @doapp-ryanp, here we go: https://github.com/fastlane/spaceship/pull/58

[2015-07-09 15:18] KrauseFx commented on #63
@snatchev Shouldn't `spaceship` show an appropriate error message when the login credentials are invalid?

Anyway @doapp-ryanp, here we go: https://github.com/fastlane/spaceship/pull/58

[2015-07-09 15:32] doapp-ryanp commented on #63
@KrauseFx the problem is the creds are not invalid, its just that the email does not have access to anything in developer center.

We have a bit of a unique scenario - we have a shit ton of apps and we segment access control.  We have our customers give us manager role to our itunes connect email (lets call it itc+customer@doapps.com) and then we have another iTunes account for dev center specific

[2015-07-10 10:30] KrauseFx commented on #63
@doapp-ryanp thanks for the detailed information. Apple announced an updated permission system in iTunes Connect to come this fall. I think that's a good opportunity to handle those kinds of errors better, once it's live.

Great to hear that you could resolve this issue :+1:

[2015-07-10 10:30] #63 closed

[2015-07-10 14:11] vytis opened #64 "Missing support for emoji names"
Fastlane fails every time when fetching provisioning profiles. This happens on all dev machines, but not on our Jenkins build server. The trace is always the same:

[code]

The relevant section from `Fastfile` is:

[code]

`spaceship.log` shows this:

[code]

I've managed to track the error to the malformed XML coming from not completely sure where. It contains the following block which seems to c

[2015-07-10 16:04] KrauseFx commented on #64
There is a high chance this is caused by `෴෴`, yes. Can you try running it on a different account?

[2015-07-13 14:43] vytis commented on #64
I've narrowed it down somewhat, I believe it is coming from my computer name - "🗿" (http://www.fileformat.info/info/unicode/char/1f5ff/index.htm). In UTF-16 it translates to 0xD83D 0xDDFF which in decimal is 55357 56831. Not completely sure why this XML contains characters in UTF16 instead of regular UTF8.

This is happening because I have setup an Xcode Server from my own machine and it created a

[2015-07-14 22:29] KrauseFx commented on #64
@vytis Please *do* keep me up to date. I personally think people should be able to use emojis *everywhere*, including device names and computer host names! :smiley: I myself didn't run into this issue yet.

[2015-07-15 07:06] vytis commented on #64
Yeah I also feel I have a right to emoji wherever I want! Will keep you posted on this.

[2015-07-15 07:22] KrauseFx commented on #64
Thank you @vytis :+1:

[2015-07-17 21:29] peymanmortazavi opened #67 "Cannot get development provisioning profiles"
When I do Spaceship.provisioning_profile.all it only returns AppStore profiles.

Spaceship.provisioning_profile.development returns an empty array. I know I have wildcard dev profiles.

[2015-07-18 11:27] KrauseFx opened #68 "[iTC] Missing spaceship features"
Taken from https://github.com/fastlane/spaceship/pull/58

**iTunes Connect Features**

- [ ] Apps
  - [x] Create a new app
  - [x] Create new version of an app
  - [x] Update app details
  - [x] Download existing screenshots
  - [x] Submit app for review
  - [x] Add, edit and remove testers
  - [x] Receive App Status (Review, etc.)
  - [x] Receive Rejection Information
  - [x] Manage TestFlight Bu

[2015-07-22 14:01] KrauseFx commented on #48
Is that issue still relevant? I'll close it for now, feel free to submit a new one if you run into any problems.

[2015-07-22 14:01] #48 closed

[2015-07-22 14:02] KrauseFx commented on #53
Is that issue still relevant? I'll close it for now, feel free to submit a new one if you run into any problems.

[2015-07-22 14:02] #53 closed

[2015-07-23 17:35] lacostej opened #69 "First app creation requires adding companyName"
I am looking at adding this to the API.

There's a field contentProvider under https://itunesconnect.apple.com/WebObjects/iTunesConnect.woa/ra/user/detail but it is already set even if you have no app created. ITC isn't using it to prefill the form either:

![screen shot 2015-07-23 at 19 31 11](https://cloud.githubusercontent.com/assets/24282/8857345/6f5bd9fe-3171-11e5-8564-67c9dbaf5a6f.png)

Give

[2015-07-23 18:23] KrauseFx commented on #69
Yes, that would be awesome: https://github.com/fastlane/produce/issues/54

Adding an optional parameter to `create_application!` sounds like a good plan.

Also, while you're at it, could you also raise a nice exception when the company name is required but not provided by the user?

[2015-07-23 18:23] KrauseFx commented on #69
Maybe @robwithhair and @buscarini have some comments :+1:

[2015-07-23 19:16] lacostej commented on #69
ITC already does that and I have a test for that. See above PR. I find it strange that there's really no test on the part that does the creation work, https://github.com/fastlane/spaceship/blob/a4d7a8ca137b30dba4fae2482a7b40ef5d640b2e/lib/spaceship/tunes/tunes_client.rb#L148-L155

We test parsing data from ITC, but not that we are sending the right data.

Or am I missing something ?

[2015-07-23 19:32] KrauseFx commented on #69
@lacostej that's right, mostly responses right now.

[2015-07-23 20:09] lacostej opened #71 "spaceship doesn't really test data sent to ITC"
and maybe to Portal as well. See discussion in #69

[2015-07-23 20:12] lacostej opened #72 "spaceship doesn't allow to create mac apps / bundles ?"
It looks like the type is hardcoded ?appType=ios

[2015-07-23 20:14] william57m opened #73 "Provisioning download "fails" after update"
Hi Felix,

Thanks for your lib it's very good, however I found a little problem...
When you update a provisioning profile (adhoc or store) then you try to download it, the call request to the Apple API send back an error HTML page.

example:

adhoc_profile.devices = Spaceship.device.all
adhoc_profile.download -> returns the provisioning OK
adhoc_profile.update!
adhoc_profile.download -> returns an

[2015-07-24 08:27] KrauseFx commented on #73
I've seen this error before. Could you try what I did in `sigh`: https://github.com/KrauseFx/sigh/blob/master/lib/sigh/spaceship/runner.rb#L30

[2015-07-24 08:28] KrauseFx commented on #73
Obviously this needs to be fixed in `spaceship`, I just haven't found a way to fix it yet.

[2015-07-27 16:59] lacostej commented on #68
BTW, in case someone comes over here, I've been working at file upload during the week-end. I've implemented 3 out of the upload 6 functions that I've detected. See PR #74

[2015-07-27 20:39] KrauseFx commented on #68
Thanks again @lacostej :+1:

[2015-07-28 19:46] meyskens opened #75 "Transfer App"
Any chance to add the Transfer App feature of iTunes connect?

[2015-07-28 21:22] KrauseFx commented on #75
I never thought someone would request that feature. What would you use it for?

[2015-07-28 21:31] meyskens commented on #75
It would be to move our apps to a new account because we have some issues with the old one. But I can see some use for consulting companies wo may like it to move apps to clients in one command.

[2015-07-30 13:01] mcactive opened #78 "Login without password doesn't work.."
Hi!

I'm testing with spaceship to get the App Status of our apps automatically. All the passwords are stored in the keychain (as we also use it with fastlane). But when trying to login with Spaceship, it gives me an error:

[code]

The code i'm trying to run:

[code]

The documentation says that it should be possible without password:

[code]

When I login with the username AND password, it does

[2015-07-30 13:12] KrauseFx commented on #78
I can reproduce this issue and will push a fix :+1:

[2015-07-30 13:16] KrauseFx commented on #78
I just tried and it's working. Do you have anything in your environment variables that could fill in some invalid value? You can also start it using `DEBUG=1 irb` to see the requests and run them through a local proxy :+1:

[2015-07-30 13:33] mcactive commented on #78
Issue has been resolved, unfortunately I tried it with 2 accounts that were not in the keychain... Still weird as I **did** use them before with fastlane, but that is not this issue :-) Thanks for you quick reaction! :+1:

[2015-07-30 14:18] #78 closed

[2015-07-30 14:21] mcactive opened #79 "New instance of Spaceship?"
Is it possible to start a new instance of Spaceship?

If tried to use the solution of #2, but it gives me the error:

[code]

Just trying to login again doesn't work. In the spaceship.log it shows that a new login actually logs the user out, but does not login again..

For me it is not necesarry to keep the current session, just want a new Spaceship session in the same ruby script..

[2015-07-31 02:41] barnaclebarnes opened #81 "Support app groups"
From what I an see there is no ability to add App Groups via Spaceship or assign N pp group to an app. An App Group can be added via the web interface in the Developer Portal and takes a name and an identifier:

* Name: `My App Name`
* Identifier: `group.com.mydomain.myapp`

After creating a group it would be good if we could enable app groups for an app and assign the created group to the app. Or

[2015-07-31 08:13] KrauseFx commented on #79
Does [this](https://github.com/fastlane/spaceship/blob/master/docs/DeveloperPortal.md#multiple-spaceships) help?

[2015-07-31 08:14] KrauseFx commented on #81
Yes, that's correct, `spaceship` doesn't support setting app groups yet.

[2015-07-31 08:49] mcactive commented on #79
It does help if you provide the credentials in the login, but with only the e-mail address and the password out of keychain, it fails:

[code]

[2015-07-31 09:03] KrauseFx commented on #79
So if you only pass the email address it doesn't work and if you pass user + password it works?

[2015-07-31 09:05] mcactive commented on #79
Exactly!

If I pass the e-mail address, the first instance works perfectly fine, but the second one fails.
If I pass email + pass both work fine.

[2015-07-31 09:12] KrauseFx commented on #79
Okay, sorry about this. There are 2 solutions for you now:

- Load the passwords from the keychain yourself using the `CredentialsManager`
- Call `CredentialsManager::PasswordManager.logout` when you don't need the first `spaceship` any more

[2015-07-31 09:28] mcactive commented on #79
`CredentialsManager::PasswordManager.logout` does the trick for me, 'cause I don't need two instances at the same time. Thanks!

[2015-07-31 09:29] alistra opened #82 "Spaceship doesn't consider "Rejected" and edit_version"
This code:

    if app.edit_version
        v = app.edit_version
        v.version = target_version
        v.save!
    else
        app.create_version!(target_version)
    end

Fails with:

    /usr/local/lib/ruby/gems/2.2.0/gems/spaceship-0.3.4/lib/spaceship/client.rb:237:in `parse_response': {"data"=>nil, "messages"=>{"warn"=>nil, "info"=>nil, "error"=>["You cannot create a new version of the A

[2015-07-31 09:32] KrauseFx commented on #82
@alistra Can you post a screenshot on how iTunes Connect shows the 2 versions in the app metadata screen?

[2015-07-31 09:33] KrauseFx commented on #79
Great to hear :+1: I'll leave this issue open as it needs to get resolved soon.

[2015-07-31 09:38] alistra commented on #82
Depending on if the first ever cersion was rejected it show only rejected or rejectted alongside ready for sale. I'll post screens when i get to work.

Same with metadata rejected status

[2015-07-31 10:07] mcactive opened #83 "App name mismatch"
Gonna keep posting "issues" as I'm experimenting a lot with spaceship right now. Unfrtunately my knowledge is basic at this moment, as I would love to participate in making spaceship better..

I'm having problems with the App name with this very simple piece of code:

[code]

Very strange, this one DOES work:
[code]

<img width="428" alt="schermafbeelding 2015-07-31 om 12 06 55" src="https://cloud

[2015-07-31 10:29] mcactive commented on #83
It seems like running it the first way has a lot more impact.. For example `app.latest_version` won't work either..

[2015-07-31 11:05] KrauseFx commented on #83
Yes, one is the app name from iTunes Connect, one from the Apple Developer Portal :smiley:

[2015-07-31 11:05] #83 closed

[2015-07-31 12:19] alistra commented on #82
The possibilities are on below images:

http://cl.ly/image/2v3Z3T3H2W2J/Screen%20Shot%202015-07-31%20at%2014.18.33.png
http://cl.ly/image/423X2t0p2l3W/Screen%20Shot%202015-07-31%20at%2014.18.51.png

[2015-08-01 18:07] taijizhu opened #84 "support IAP meta data"
Spaceship API model seems to be a great platform for managing IAP price tier and meta information.  Just curious if it is considered in the future roadmap.

[2015-08-01 18:30] KrauseFx commented on #84
Sorry, not right now. This would probably be part of [deliver](https://github.com/krausefx/deliver), as it's possible to fill-in this information using the `metadata.xml` via the iTunes Transporter :+1:

[2015-08-01 18:30] #84 closed

[2015-08-03 14:35] vytis commented on #64
I've submitted a radar, but no reply as of now. It seems there is a place where all Server-related certificates are listed - https://developer.apple.com/membercenter/index.action#server
I managed to revoke the certificate from there and the response now doesn't have any invalid chars. I think we can close the issue, because it's definitely not Spaceship fault...

[2015-08-03 18:42] alistra commented on #68
Is there an option to select a build for version? I can't find it in the docs.

[2015-08-03 22:52] KrauseFx commented on #64
Okay, thanks for the update :+1:

[2015-08-03 22:52] #64 closed

[2015-08-04 09:07] KrauseFx commented on #68
@alistra You mean select a build for the app to send it to review? That's not implemented yet.

[2015-08-05 22:06] bachonk opened #85 "After installation, "spaceship: command not found""
__Steps to reproduce__
1. `sudo gem install spaceship`
2. Installation completes
3. `spaceship -v`
4. Error message `-bash: spaceship: command not found`

__OS__
Mac OS X Yosemite 10.10.3

__RubyGems environment__
[code]

Interesting note: the spaceship gem is installed in my `INSTALLATION_DIRECTORY`, but it not found in my `EXECUTABLE_DIRECTORY`.

[2015-08-05 22:40] #85 closed

[2015-08-06 09:37] KrauseFx commented on #85
How did you resolve this issue?

[2015-08-06 14:18] bachonk commented on #85
I was able to `require 'spaceship'` in another ruby file and it worked.

I filed the issue because I expected the `spaceship` command to work directly from the command line, but I closed it assuming that it wasn't an expected feature.

[2015-08-06 18:05] KrauseFx commented on #85
Sorry, I didn't take the time to read the full issue this morning. Yes, `spaceship` doesn't offer a CLI and therefore there is no `spaceship -v` :+1:

[2015-08-10 10:19] estebanbouza opened #88 "Support for Passbook (Pass Type IDs, certificates)"
For what I have seen, spaceship does not support the creation of Pass Type IDs.
It would be great if new pass type IDs could be generated, as well as the certificates linked to them.

This would allow to fully integrate with https://github.com/frozon/passbook to generate new type IDs on the fly.

[2015-08-10 22:58] sfransen opened #89 "add devices to License Apple Today is changing all again today"
I can getting error trying to add Device to License

"resultCode"=>35, "resultString"=>"There were errors in the data supplied. Please correct and re-submit.", "userString"=>"A device with number xxxxxx

 if you can even get to the developer page to look

[2015-08-10 23:56] sfransen opened #90 "Why is there a check for Name being Unique this is not required."
# Find the device by name, raise an exception if it already exists
          if self.find_by_name(name)
            raise "The device name '#{name}' already exists on this team, use different one."
          end

 Why is this check here in device.rb
 There is no problem with same name you just can't have same UDID

[2015-08-10 23:58] bachonk commented on #68
+1 to @alistra's request for selecting builds.

[2015-08-11 06:40] sfransen commented on #89
Close it is just slow as hell today.

[2015-08-11 06:40] #89 closed

[2015-08-11 09:51] KrauseFx commented on #88
@estebanbouza Just recently `spaceship` introduced support for Passbook: https://github.com/fastlane/spaceship/releases/tag/0.4.0

There will be a new release of `produce` today, which will also allow you to enable Passbook from there :+1:

Special thanks to @henrinormak for working on this :rocket:

[2015-08-11 10:01] estebanbouza commented on #88
@KrauseFx from what I've seen, 0.4.0 allows you to enable/disable services for an app such as Passbook. Unless I'm missing something, it doesn't allow you to generate a new Pass Type ID or the certificates to sign passes from that Type ID.
Is this correct?

[2015-08-11 10:02] henrinormak commented on #88
@estebanbouza That is correct, changes I made simply allow flipping the passbook switch in the Dev Portal.

[2015-08-11 10:03] KrauseFx commented on #88
Here we go: https://github.com/fastlane/produce/releases/tag/0.6.0

[2015-08-11 10:06] estebanbouza commented on #88
@KrauseFx can we reopen this issue then as a feature request?

[2015-08-11 10:11] KrauseFx commented on #90
Good point, thanks :+1:

[2015-08-11 10:14] KrauseFx commented on #90
Fixed with the next release

[2015-08-11 10:14] #90 closed

[2015-08-11 21:33] tp opened #92 "parse_response error"
I get the following error with sigh trying to login, even though my connection is fine and I can access the developer portal in the browser without issues.

Is there is any further information that would help you track down the issue I will gladly provide it.

the lane
[code]

The tail of the `fastlane beta` output:

[code]

[2015-08-12 06:45] tp commented on #92
Possibly related to #63

[2015-08-12 07:09] tp commented on #92
Seems like I have the same issue: I needed to use different accounts for ITC and Dev center.

Am I correct in assuming that the DevCenter login goes into the `Appfile` while the ITC login goes into the `Deliverfile`?

[2015-08-12 07:24] tp commented on #92
Yep, with the changed configuration it works. (well at Ieast get a message that I have to sign the updated license agreement).

A better message à la "your account is not setup for iOS development" would've been nice.

Is that in the scope of #58? (Could not find it explicitly on the list)

[2015-08-18 03:42] barnaclebarnes commented on #81
Tested and works great for me. Thanks!

[2015-08-18 03:42] #81 closed

[2015-08-18 09:36] KrauseFx commented on #81
:+1:

[2015-08-18 13:54] KrauseFx commented on #92
Sorry for the delayed reply @tp. This is on my list and I want to get this implemented as soon as possible. Right now the error message is too general.

Did you resolve the issue? You should store the iTunes Connect user name in your `Deliverfile` and the Apple Developer Portal user in the `Fastfile`.

[2015-08-18 19:47] sunboshan opened #93 "`Unauthorized access` fix"
In the fix `Unauthorized access` https://github.com/fastlane/spaceship/commit/d0c8b658daeb94698749d2439f388c991785a6fc, sometimes `itctx` part format like this `itctx=abc:def-ghi_jkl`, the current fix can only get `itctx=abc:def`, might not be able to get the correct cookie in other scenarios.

[2015-08-18 20:12] KrauseFx commented on #93
So it's a missing `\-` in the regex?! Great catch, I'll push a fix in a minute!

[2015-08-18 20:19] KrauseFx commented on #93
Just pushed https://github.com/fastlane/spaceship/releases/tag/0.5.2, let me know if that works for you :+1:

[2015-08-18 21:43] sunboshan commented on #93
Awesome! Thanks for fixing it again!

[2015-08-18 21:43] #93 closed

[2015-08-19 08:25] KrauseFx commented on #92
You can also take a look at https://github.com/fastlane/examples to see how other companies use `fastlane` and how they manage the different user credentials :+1:

[2015-08-19 08:33] KrauseFx commented on #93
Thank you for letting me know @sunboshan, I really appreciate it, great help! :rocket:

[2015-08-21 00:10] DrumahSmith opened #94 "Parse error when trying to create AdHoc provisioning profile"
The follow error is received when attempting to create an AdHoc provisioning profile from an iOS distribution certificate.

error at command call:
profile_ad_hoc = Spaceship.provisioning_profile.ad_hoc.create!(bundle_id: "#{app_name}", certificate: signing_cert, name: "#{common_name}AdHoc")

[code]

[2015-08-24 09:20] robwithhair commented on #54
@KrauseFx I am experiencing this issue today.  Fastlane completely not working and always failing on produce step.  Can we re-open or create new issue for this?

[code]

[2015-08-24 11:26] lacostej commented on #54
@robwithhair could you try running

[code]
from the account where you call fails ?

(see https://gist.github.com/tam7t/86eb4793e8ecf3f55037)

[2015-08-24 11:40] robwithhair commented on #54
@lacostej I apologise as I don't know any ruby, but I've run the following in `irb` on the server and this is the output.  Could you explain 'from the account where your call fails?'
[code]
I'm currently running fastlane tools on a jenkins server, which has been running fine until today.

[2015-08-24 14:43] robwithhair commented on #54
It looks like this may have been a temporary issue with iTC.  I just managed to put through a successful build.

[2015-08-24 14:46] cemo commented on #54
having issues as well currently.

[2015-08-24 14:48] robwithhair commented on #54
Maybe not so temporary

[2015-08-24 14:51] robwithhair commented on #54
This issue should definitely be reopened, as even if the issue is at iTC's end, we could do with an improvement to the error message.

[2015-08-24 15:00] cemo commented on #54
On my side this is still causing an issue.

[code]

Here is stacktrace at server log.

[2015-08-24 15:41] lacostej commented on #54
@robwithhair by 'from the account where your call fails?' I meant running this in ruby from a user account in the similar way that your fastlane builds are ran.

Note: I compared your irb / openssl cipher list to mine, and saw I had many more ciphers (34 instead of 18). (consistent results before and after upgrading to the latest openssl using brew on my machine)

I played with Firefox, disabling

[2015-08-24 15:46] robwithhair commented on #54
As this is so close to iOS release I suspect this may be an issue on apple's end, what are your thoughts @KrauseFx / @lacostej ?

[2015-08-24 15:52] cemo commented on #54
Seems my problem fixed by the way.

[2015-08-24 20:55] DF-Franzi commented on #54
Just started seeing this today as well. Using the 1.20.0 of Fastlane and getting the same error as above.

[2015-08-25 05:11] lacostej commented on #54
I've looked into this a bit more. Not 100% sure if problem is on Apple side, but I manage to reproduce the same issue if using for example the RC4-SHA cipher on developer.apple.com (Google accepts it)

Here's all my experiment code:
[code]

As to why it fails, it might be that there's a mis-configuration on Apple server where they refuse some ciphers and fail to fall over an accepted one.

Still I

[2015-08-25 05:52] lacostej commented on #54
As seen by the added spec above, the default configuration fails includes weak ciphers at least in the travis ci environments.

[2015-08-25 15:17] aloifolia commented on #54
I also get this error now on one computer. It happens during the **cert** phase.

[2015-08-26 09:02] lacostej commented on #54
@aloifolia @gspiers @DF-Franzi @robwithhair @NikhilRyan

I would be curious to know if your SSL problems disappear when removing the weak ciphers / protocols from our HTTPS client. I made a PR that allow that.

If one of you has a repeatable issue in any of the tools that use the current spaceship (cert, produce, etc), please see https://github.com/fastlane/spaceship/pull/95#issuecomment-134711810

[2015-08-26 09:08] robwithhair commented on #54
I'll have a go if I'm able to reproduce.   We've not experienced this issue for a couple of days.  Is anyone else still getting it?

[2015-08-26 09:11] cemo commented on #54
We had a few minutes ago.

[2015-08-26 09:14] lacostej commented on #54
So it's not 100% reproducible ?

[2015-08-26 09:15] robwithhair commented on #54
We had it continuously for several hours when it first became apparent but no longer.

[2015-08-26 11:20] cemo commented on #54
I can not reproduce the error consistently. I am having issue with `sigh` command. Having multiple sigh commands are increasing possibility of error.

[2015-08-26 11:31] lacostej commented on #54
@cemo are those sigh command made using the same users ?

@KrauseFx do you know if the cached api_key is global to all users / servers ? or could there be some problems caused by the caching of the api_key under "/tmp/spaceship_api_key.txt" ?

[2015-08-26 11:33] cemo commented on #54
yes same users, but different identifier.

[2015-08-26 13:49] aloifolia commented on #54
Currently, the error does not occur any more on my computer.

[2015-08-26 13:57] cemo commented on #54
I am on CircleCI and we do not have any issue as well.

[2015-08-26 14:03] aloifolia commented on #54
OK, it seems to be happening quite randomly. The error just reoccurred but in the next run it stayed absent... This is confusing.

[2015-08-27 08:37] sfransen opened #96 "how do you set the prefix of a AppID when you create an new AppID"
This is more of a question . How do I set the prefix of the create AppID I create with this tool.
I have figure out most of what I want to do but this.
 Thanks for this great tool.

[2015-08-27 08:50] mikefranken commented on #62
The key to search for in KeyChain start with deliver. BTW

[2015-08-28 10:30] KrauseFx commented on #96
Hey @sfransen,

Looking at the code (https://github.com/fastlane/spaceship/blob/master/lib/spaceship/portal/portal_client.rb#L136-L153) it seems like that's not possible.

Are you talking about the prefix of the bundle identifier when creating a new App ID on the Apple Developer Portal, correct?

[2015-08-28 12:54] sfransen commented on #96
Yes I want to use s prefix that I have in my license that Is not the main number
Before I got here the group had no idea what they were doing and we have like 45 different prefix
We are in the progress of changing to one prefix
But I have to deal with this problem. Oh well thanks

I will just have to deal with those request manually

Thanks

Sent from my iPhone5

[2015-09-01 07:15] tp commented on #92
Yes, with the correct accounts in the correct files it works as expected :-) Closing this since you seem to already be tracking the error message improvements somewhere else. Thanks again for your time-saving and life-quality increasing software :+1:

[2015-09-01 07:15] #92 closed

[2015-09-02 09:34] OlofT opened #99 "Spaceship/iTunes Connect API seems to be missing how to submit a build for review?"
Reading the documentation (https://github.com/fastlane/spaceship/blob/master/docs/iTunesConnect.md) there is info on how to submit builds for testing, and the next paragraph is "Submit app for App Store Review".

Am I missing something obvious or can the API just not select builds to be submitted for review?

[2015-09-02 10:46] OlofT opened #100 "spaceship submission.export_compliance_encryption_updated is not working"
Using the following to submit a build:

[code]

Results in the following:

[code]

Going manually to iTunesConnect and submitting, shows only these two options. So it should work.
Version 0.5.3.

[2015-09-02 17:36] KrauseFx commented on #99
Right now `spaceship

[2015-09-02 17:37] KrauseFx commented on #99
Sorry, right now `spaceship` doesn't support selecting builds for App Store distribution. This will soon change once I find the time to work on the brand new version of `deliver` to use `spaceship`.

[2015-09-03 13:11] OlofT commented on #99
Alright! Thanks for the reply.

[2015-09-03 13:11] #99 closed

[2015-09-04 20:18] soheil opened #101 "ITC.apps.preReleaseBuild.validationErrors.significantChangeMissing"
I can't set this param when submitting for Beta Review significantChangeMissing

[2015-09-07 03:41] soheil commented on #101
@KrauseFx ?

[2015-09-07 03:59] KrauseFx commented on #101
Could you provide more information about what you're trying to achieve, what's the error and output and how `spaceship` should do things differently?

[2015-09-07 04:02] soheil commented on #101
[code]

I'm just trying to submit the latest build for Beta Review. I had to add `significant_change: false` since iTunes wasn't accepting. But after adding it I get this other error:
[code]

[2015-09-07 04:25] soheil commented on #101
@KrauseFx ?

[2015-09-07 17:05] KrauseFx commented on #101
There is no option for `significant_change` in the source code

[2015-09-07 17:05] KrauseFx commented on #101
Let me check on what's missing there

[2015-09-07 17:07] KrauseFx commented on #101
Yes, that's the available parameters right now

https://github.com/fastlane/spaceship/blob/master/lib/spaceship/tunes/tunes_client.rb#L246-L265

I assume you have the `significant_change` from the iTunes Connect front-end?

[2015-09-07 17:11] soheil commented on #101
yes, without it, it wont work

On Mon, Sep 7, 2015 at 10:07 AM, Felix Krause <notifications@github.com>
wrote:

[2015-09-08 20:36] KrauseFx commented on #79
This should be resolved with the latest update. Could you give it a try?

[2015-09-08 20:36] #79 closed

[2015-09-11 08:46] richarddigifit opened #103 "error: Creation of apps of this type is not available"
Hi, I get the above error when executing: Spaceship::Tunes::Application.create!(....)
It looks like something changed on Apple's side because it used to work before, or am I doing something wrong?

Full error:
[code]

[2015-09-11 08:57] richarddigifit commented on #103
Nevermind, I didn't check the ItunesConnect website and there I get the same error, so this is not related to Spaceship.
You can delete this issue, I'm sorry

[2015-09-11 08:58] lacostej commented on #103
@richarddigifit I think you can close it yourself !

[2015-09-11 17:34] #103 closed

[2015-09-15 23:35] koglinjg opened #104 "spaceship team select does not look at the Appfile for team name / id"
```sigh```, which is using ```spaceship.select_team``` is prompting for team selection when the team name and ID are defined in the Appfile.

[code]

I see that this is reading the ENV variables [here](https://github.com/fastlane/spaceship/blob/453a930fbc4aafc7c2b7e92e0ce19946c00b1ae1/lib/spaceship/portal/ui/select_team.rb#L39), but I think it should also check the Appfile for this.

[2015-09-15 23:37] #104 closed

[2015-09-15 23:37] koglinjg commented on #104
My Appfile was wrong :/

[2015-09-15 23:38] KrauseFx commented on #104
:+1:

[2015-09-17 11:36] lferro9000 opened #105 "Unauthorized access"
This is my code:

[code]
And this is the error that i get:
[code]

Am i doing anythign wrong?

_Off notice, between the last "print" and the issue of the error, there is like one minute or more of waiting time._

[2015-09-17 12:47] lferro9000 commented on #100
Have you tried to send a 0 instead of a false? (didn't read the code behind - ruby-fu is weak for now)

[2015-09-17 16:41] KrauseFx commented on #105
It should work as described in https://github.com/fastlane/spaceship/blob/master/docs/iTunesConnect.md#submit-app-for-app-store-review

`deliver` is not yet using this part of `spaceship`, but I'll take a closer look over the next few days.

[2015-09-19 22:12] chaffeqa opened #106 "Better Login Error Display"
My first attempt at using `sigh` resulted in a login error (I mistyped my password and it got saved into keychain).  However on just running `sigh` I got:

    [18:00:52]: Starting login with user '**********'
    ruby-2.2.1@fusedraftfrontend/gems/spaceship-0.6.1/lib/spaceship/portal/portal_client.rb:46:in `send_login_request': #<Faraday::Response:0x007fa869b86820> (Spaceship::Client::InvalidUserC

[2015-09-20 03:35] KrauseFx commented on #106
Check the `Change Password` section in the README https://github.com/fastlane/credentials_manager#change-password on how to remove the wrong entry.

Or did you submit this issue to make a better error message when the login fails?

[2015-09-22 00:23] chaffeqa commented on #106
Yeah sorry I easily solved with that section, just had to do some research to find it.

This issue was what you said: to possibly improve the error message on login fails

[2015-09-24 20:38] sunboshan opened #107 "Apple big updates on iTunesConnect"
Apple just released a new version of iTunesConnect, haven't look into detail but they deprecated some of the API endpoints that used to work.

[2015-09-24 20:44] KrauseFx commented on #107
Yes, I'm working on it https://github.com/KrauseFx/fastlane/issues/630#issuecomment-143044603

[2015-09-25 05:28] sunboshan commented on #107
Just few notes on API endpoints change:

    BASE_URI = "https://itunesconnect.apple.com/WebObjects/iTunesConnect.woa/ra/apps"

    # get data
    BASE_URI + "/#{app.app_id}/overview"
    BASE_URI + "/#{app.app_id}/platforms/ios/versions/#{app.in_flight_version_id}"

    # new version
    BASE_URI + "/#{app.app_id}/platforms/ios/versions/create/"

    # save
    BASE_URI + "/#{app.app_id}/platform

[2015-09-25 05:44] KrauseFx commented on #107
@sunboshan thanks, I did some changes already https://github.com/fastlane/spaceship/pull/108

Do you want to join the fastlane slack group?

[2015-09-25 05:44] KrauseFx commented on #107
If so, please send me your email address.

[2015-09-25 07:56] AloneCoder opened #109 "Auth not working?"
After itunesconnect update something changed in the auth
I always get http 200 now

[2015-09-25 12:19] #109 closed

[2015-09-25 17:26] sunboshan commented on #107
"115211721102982111211521042972110264210321092972105210824629921112109".split(/2/).map(&:to_i).map(&:chr).join

[2015-09-25 17:26] #107 closed

[2015-09-25 17:37] KrauseFx commented on #107
Thanks, I sent you the invite :+1:

[2015-09-28 00:51] chezzdev opened #110 "Deprecated create_version"
Hello! Seems like `create_version!` is still using deprecated API.
I'm getting following error on parsing response after calling it:
`Uncaught exception: {"data"=>nil, "messages"=>{"warn"=>nil, "error"=>["deprecated"], "info"=>nil}, "statusCode"=>"ERROR"}`.

[2015-09-28 01:43] KrauseFx commented on #110
Nice catch, thanks @chezzdev :+1: Will work on this!

[2015-09-28 22:00] KrauseFx commented on #110
Fixed with https://github.com/fastlane/spaceship/commit/e7107849b33fa93965e8dde25fcd6500d33b175d

This will be in the next release

[2015-09-28 22:00] #110 closed

[2015-09-29 15:01] richarddigifit opened #111 "Error with associate_groups"
Im running the following code:
[code]

Im 100% sure "group.com.example.application" exists, and I get the following error:
Am I doing something wrong?
[code]

[2015-09-30 16:40] mathiasAichinger opened #112 "Apple TV in developer programm breaks the creation of provisioning profiles"
Hi,
I tried to create Adhoc Provisioning Profiles via sigh and spaceship. Unfortunately the creation request fails with the following error:

[code]

I looked into the parameters of the `account/ios/profile/createProvisioningProfile.action` request and found out that the array of deviceIds contains an Apple TV id. I think this causes the error.

[2015-09-30 16:56] mathiasAichinger commented on #112
Changed the line in `provisioning_profile.rb`from
[code]
to
[code]
and it's working again.

[2015-09-30 17:02] KrauseFx commented on #112
Thanks for letting me know. It makes sense, so `sigh` tried to add your Developer TV to the provisioning profile.

I'll implement a fix that works, since it should work with iPads and iPods too :wink:

[2015-09-30 17:05] mathiasAichinger commented on #112
Cool :+1:

Sure, was only a test ;)

[2015-09-30 17:12] #112 closed

[2015-09-30 17:12] KrauseFx commented on #112
Thanks again :+1:

[2015-10-01 03:14] aziz-boudi4 opened #113 "Getting error "The version number has been previously used.""
Hello Felix,
I made all the modifications as stated in the "Migration Guide", and all the previous errors disappeared.

But now I keep having this error with "Spaceship"  about
     The version number has been previously used.

    /Library/Ruby/Gems/2.0.0/gems/spaceship-0.10.2/lib/spaceship/tunes/tunes_client.rb:147:in  `handle_itc_response': The version number has been previously used. (Spaceshi

[2015-10-01 18:46] KrauseFx commented on #113
What's the version number of the plist of your ipa? Probably the same of a version you already deployed to Apple, right? You have to increment the version number in your ipa file.

[2015-10-01 19:10] aziz-boudi4 commented on #113
So I should use " increment_version_number " ?
and set up an automatic incrementation of the version number like shown in the "Wikepedia" example:

     plist_version = get_version_short_string File.expand_path(File.join(ENV['PWD'], 'Wikipedia/Wikipedia- Info.plist'))

        increment_version_number(
           version_number: ENV['WMF_VERSION_NUMBER'] || plist_version
        )

[2015-10-01 21:53] KrauseFx commented on #113
Yes, you can just use `increment_version_number(bump_type: "patch")` to automatically increment the version.

[2015-10-01 21:56] KrauseFx commented on #113
This is an iTunes Connect requirement, as it doesn't allow TestFlight uploads for apps already being in the store, so you need to increment the version number.

[2015-10-05 16:51] jnic opened #115 "Spaceship failing at "Waiting" step with "Unauthorized access""
Spaceship is failing during the "Waiting for iTunes Connect to process the new build" step with an "Unauthorized access" error.

[code]

This was previously working with the same configuration. iTunes Connect is working correctly from the web browser.

I am running with "no" parameters (i.e. just `pilot` in the Fastfile lane). Tried `rm /tmp/spaceship*`, as per https://github.com/fastlane/pilot/is

[2015-10-05 17:07] KrauseFx commented on #115
It seems like Apple is currently having timeout issues with iTunes Connect - this isn't an error of `spaceship`. Let's see if that gets resolved over the day.

[2015-10-05 17:41] chezzdev opened #116 "Wrong mapping for :export_compliance_encryption_updated"
I had got this error
[code]
when I was trying to submit my app with this code
##### my_script.rb
[code]
With help of error it becomes evident that ```export_compliance_encryption_updated``` is not as 'simple' as it seems. Short debug showed that this is a hash with ```value``` as one of its entries.
So everything we need to fix that is to map ```ruby:export_compliance_encryption_updated``` attribu

[2015-10-06 00:38] pieisgood opened #117 "Error in update_app_version"
Getting an Unauthorized access error after updating to the new fastlane/deliver , update_app_version throws an Unauthorized Access error under handle_itc_response' , (Spaceship::TunesClient::ITunesConnectError). Is this related to timeouts or has there been an update in the way fastlane handles user auth?

[2015-10-06 02:00] KrauseFx commented on #117
This is a temporary iTunes Connect server issue. If you try to do the same thing on iTunes Connect you'll experience the same issue. Sorry about that, but I don't think there is much I can do.

[2015-10-08 07:54] kostiakoval commented on #115
I got the same error. Maybe it would be nice to get an message that it's iTunes-Connect error and not spaceship

[2015-10-08 07:57] kostiakoval commented on #115
And the app actually gets created in the iTunes Connect. Its not clear that app was created, because you have got this error message.

[2015-10-08 09:18] fabiomassimo opened #118 "Export a p12 certificate gets "\x82" from ASCII-8BIT to UTF-8 error"
I'm using `spaceship` on my backend application to keep the management of my push certificates automated.

I'm able to create the push certificate but since I want also to export it as p12 I wrote the following code:

[code]

Unfortunately the last line makes my code crash with following error:

[code]

I'm running ruby 2.0.0 therefore I would expect that the standard encoding is UTF-8 and to be s

[2015-10-08 10:01] lacostej commented on #118
Consider using this pattern:
[code]

[2015-10-08 11:12] fabiomassimo commented on #118
Same error.

[2015-10-08 12:14] fabiomassimo commented on #118
This fixed my issue.
Thanks for your help.

[code]

[2015-10-08 12:14] #118 closed

[2015-10-08 13:57] KrauseFx commented on #118
:+1:

[2015-10-08 18:41] tabuchid commented on #62
I also just ran into this. I think at the very least exposing a command to remove/change your password would be helpful.
Also a message telling you what to do instead of a crash in this instance.

[2015-10-08 18:50] jaleksynas opened #119 "connections using http/s or SOCKS proxies"
Does Spaceship include configurations for connecting through various proxy protocols? I see debug code for Charles proxy, but nothing for actual proxy usage. Prior to Spaceship it seemed that the web scraping approach was using the proxy, either via the system settings, the environment or magic.

[2015-10-08 19:44] lacostej commented on #119
As you said, spaceship supports Charles.

Any proxy that is on https://127.0.0.1:8888 will be used if you use the DEBUG env variable

It might be better to change Spaceship to have a SPACESHIP_PROXY_URL or something like that for more flexibility

[2015-10-08 20:06] KrauseFx commented on #62
@tabuchid check out https://github.com/fastlane/credentials_manager#change-password :+1:

[2015-10-08 22:38] tabuchid commented on #62
@KrauseFx Thank you! That ended up fixing it for me.
Moving forward documentation is a good first step but what do you think about catching the error and displaying a message pointing people at the instructions to clear the keychain?
Beyond that should this tool have a option to reset/clear/change the stored password?

[2015-10-09 02:14] KrauseFx commented on #119
Yes, just run `DEBUG=1 [tool]` to enable a local proxy.

[2015-10-09 02:24] KrauseFx commented on #62
@tabuchid I agree with you. I was also briefly chatting with @snatchev about this. AFAIK it's not possible to detect the difference between an iTC/Dev Portal server error (which happens often) and an invalid username/password combination.

If you use a tool like `deliver` or `pilot` it will actually tell you the password is invalid and even reset it for you. That's possible because it *knows* the

[2015-10-09 02:27] jaleksynas commented on #119
I require the use of a more formal authenticated proxy both for developer
and automation machines when not in debug. This would apply to all fastlane
tools and actions. Some actions, like pod/git, use standard linux
environment variables.

Again when using previous versions of fastlane (before spaceship) the
connections were working using either the system proxy or the environment
variables.  I'll

[2015-10-09 04:55] lacostej commented on #119
This could be useful: https://gist.github.com/shannonwells/a7be8752093cd74bc590

[2015-10-09 10:17] lferro9000 opened #120 "Gem credentials_manager version issue"
When running spaceship i get:

WARN: Unresolved specs during Gem::Specification.reset:
      credentials_manager (>= 0.8.1)
WARN: Clearing out unresolved specs.
Please report a bug if this causes problems.

The version on the system is:

Parsing documentation for credentials_manager-0.8.4
Installing ri documentation for credentials_manager-0.8.4
Done installing documentation for credentials_manage

[2015-10-09 14:19] lferro9000 opened #121 "deactivate device (suggestion)"
Hi,

Is it possible to deactivate a device with spaceship?

The code on:

    def create_device!(device_name, device_id)
      req = request(:post) do |r|
        r.url "https://developerservices2.apple.com/services/#{PROTOCOL_VERSION}/ios/addDevice.action"
        r.params = {
          teamId: team_id,
          deviceNumber: device_id,
          name: device_name
        }
      end

      pars

[2015-10-09 16:19] moritzh opened #122 "Bundle/App IDs are case sensitive when really, they aren't."
Just noticed that (for whatever weird reason) I do have an app that has a an id like bla.blub.Foobar. If I try to get the provisioning profiles or app information for it, it totally fails when I use "bla.blub.foobar" as my input string.

Since the bundle id is not case sensitive in any way (at least not from the apple side of things), comparing strings for equality might not be the right thing to

[2015-10-09 16:27] rimarsh commented on #112
I think I'm seeing a similar issue to this when using the `ProvisioningProfile.update!` method. This is what's called from sigh (https://github.com/KrauseFx/sigh/blob/master/lib/sigh/runner.rb#L32) and the passed in device list is all devices. I think the quick fix would be doing a similar filter for AppleTv devices, but there might be a better solution. Also worth noting, I think the device type

[2015-10-09 17:14] KrauseFx commented on #62
https://github.com/fastlane/spaceship/releases/tag/0.11.5 :rocket: @snatchev

[2015-10-09 17:14] #62 closed

[2015-10-09 17:14] KrauseFx commented on #62
Please let me know if that works for you :+1:

[2015-10-10 13:53] KrauseFx commented on #121
How does the code tell you that it's trivial? You can always add new devices, but removing them is only possible once a month as far as I know.

[2015-10-10 17:23] pbeast opened #123 "Failed to upload screenshots"
`require 'fileutils'` is missing in **upload_file.rb**

[2015-10-10 22:37] #123 closed

[2015-10-12 17:17] dezinezync opened #125 "Odd error while using Pilot"
Since `deliver` was recently updated, I started to moving TestFlight delivery to `pilot`, however I keep running into the following:

[code]

It's a very consistent issue and I haven't been able to successfully upload a build since the change.
From what I gather, It seems to be an issue with multiple users on a Company account? If that's the case, we have 3 users who have binary uploading privileg

[2015-10-12 19:07] kraftydevil opened #126 "How to automatically trigger spaceship/sigh from an email with device info?"
I use services like HockeyApp and App47 to manage build distribution. They send me emails whenever a new device has been added by one of our clients.

I could manually check my email and add the devices via the appropriate spaceship/sigh commands but it seems like in order to fully automate the process I need to start with the device notification email (it contains a device name and UDID).

Do you

[2015-10-12 20:28] KrauseFx commented on #126
It's always a bit annoying to handle incoming emails - I've never done this with `fastlane`

[2015-10-12 20:35] KrauseFx commented on #125
Mh, could you try doing the exact same thing on iTunes Connect directly? This error is not raised by `spaceship` or `pilot`, but by iTunes Connect.

[2015-10-12 20:42] lacostej commented on #126
For using email, you might need to poll. E.g. using a plugin in your CI server, e.g.
https://wiki.jenkins-ci.org/display/JENKINS/poll-mailbox-trigger-plugin or some custom scripts.

Yet if you need to poll, I would poll HockeyApp / App47 directly and skip the email.

But then you need to export the devices. On HockeyApp I am not aware of a feature to export the devices using their API. I couldn't

[2015-10-12 20:42] kraftydevil commented on #126
Can you think of another way to intercept device additions besides email?

Based on the fact that an email is sent I'm going to try this: https://github.com/jenkinsci/poll-mailbox-trigger-plugin

Receiving an email should trigger a job that throws the email contents and meta info into a ruby script. I'll configure it to conditionally call spaceship and sigh if the email contains everything need to

[2015-10-12 20:47] kraftydevil commented on #126
Thanks @lacostej .

Are you saying that the Jenkins plugin is a polling option only (meaning it doesn't actually get triggered on a new email)?

If I set the job for every 5 minutes I don't think it will be too bad.

Even if HockeyApp had the polling API, I'm not sure I would know how to use it.

[2015-10-12 20:48] KrauseFx commented on #120
Can you run it? I think it's just a warning, right? You can run `gem cleanup`

[2015-10-12 20:51] KrauseFx commented on #126
I'd recommend using [boarding](https://github.com/fastlane/boarding) which solves that problem using TestFlight :+1:

[2015-10-12 20:54] lacostej commented on #126
@kraftydevil '**poll**-mailbox-trigger-plugin' :)

I don't know the format of the hockeyapp email. And if you have to parse it, you are depending on a format you have no control over. That's why I would poll at the source right away if there's a API there.

:)

@KrauseFx testflight is not the same service as hockeyapp. It has a few inconveniences that make it hard to use in some contextes. Review

[2015-10-12 21:09] kraftydevil commented on #126
@lacostej - good point about the naming of the plugin ;)

It's probably ok. The process needs to be quicker and automated but not instant.

You bring up a good point about the email format possibly changing though. The implication being that the device monitoring could break if that happened.

App47 has support for this:
https://cirrus.app47.com/templates

Basically you determine the format of the

[2015-10-13 02:47] dezinezync commented on #125
Yes, you're right. Seems to be an iTC issue. Reported here by someone else > https://discussions.apple.com/thread/7273636. Closing this thread. Thanks for pointing me in the right direction, Felix. cheers.

[2015-10-13 02:47] #125 closed

[2015-10-13 04:54] KrauseFx commented on #125
Sure :+1:

[2015-10-15 07:07] chezzdev commented on #116
Nice to see that issue was fixed in [43ec58917e5](https://github.com/fastlane/spaceship/commit/43ec58917e5dde423be98bd4a17609587390dd66).
Thanks!

[2015-10-15 07:07] #116 closed

[2015-10-15 16:20] richarddigifit commented on #111
@KrauseFx Do you know what is wrong?

[2015-10-15 19:06] KrauseFx commented on #116
Sorry I forgot to update this issue :+1:

[2015-10-17 19:34] KrauseFx commented on #111
Sorry, I don't. I haven't used associate groups myself yet.

[2015-10-19 13:05] realf opened #129 "Dev Portal integration is broken (302 Found)"
After the weekend update of the Apple Dev Portal, when trying to create a new App ID with `produce` I am getting this error:
[code]

[2015-10-19 13:37] realf commented on #129
This is reproducible not every time, sometimes `produce` succeds, sometimes it fails with a stack trace mentioned above.

[2015-10-19 13:44] realf commented on #129
I am using fastlane 1.33.4

[2015-10-19 18:09] ptarjan opened #130 "exception while waiting for test-flight"
Judging by the path names in the stack I'm using version spaceship-0.12.0

[code]

[2015-10-19 23:30] chaffeqa commented on #129
Im getting this same issue... its intermitent honestly.

f u :apple:

[2015-10-19 23:49] chaffeqa commented on #129
oh... apple dev portal is down... https://twitter.com/MucknFluff/status/656255643754590208

[2015-10-20 00:16] sfransen commented on #129
It has been unstable all day up down timeout

Sent from my iPhone5

[2015-10-20 00:29] KrauseFx commented on #129
Yes, unfortunately: https://twitter.com/KrauseFx/status/656237029181648896

[2015-10-20 00:32] chaffeqa commented on #129
so it seems... when the portal is working... taht after ~4 provision profile dl's... apple returns the 302

Because i have the time, im gonna try to see whats doable with that parameter...

[2015-10-20 00:45] chaffeqa commented on #129
aaaand of course it jsut starts working again... just as im getting to debugging the headers of the response

[2015-10-20 01:20] chaffeqa commented on #129
i think the main issue is the inconsistency of `parse_response` usage...

if the 302 occurs in certificate fetching, you get:

[code]

but if it occurs in `download_provisioning_profile`, since you dont pass the second parameter, you get an error like:

[code]

My suggestion though would be something like: *testing for 302 responses from apple*.

So I know its a **one off** solution, but...

cf2c7

[2015-10-20 15:46] imanf commented on #129
I've been getting this issue more often than not, and it's still happening today despite the dev portal working okay.

[2015-10-20 15:51] truth3 commented on #129
@imanf I just kept running it.. you will eventually get through :)

[2015-10-20 18:28] sfransen commented on #129
Developer portal still going off line and timing out for 2 days now

Sent from my iPhone5

[2015-10-20 21:05] nmeyer commented on #129
Still getting 302 Found errors today too. If you keep trying you get through but seems to fail 3 out of 4 times.

[2015-10-21 04:27] nidheeshdas opened #133 "spaceship/base.rb:43:in `lookup': undefined method `[]' for nil:NilClass (NoMethodError)"
[code]

[2015-10-21 09:04] ffittschen commented on #129
Getting this error as well while trying to download a provisioning profile with `sigh`. @nmeyer 3 out of 4 was very accurate, the 4th try got through :+1:

[2015-10-21 18:24] lkraider commented on #129
A 302 is not an error per se, shouldn't the redirect be followed by the module?

[2015-10-21 20:13] lacostej commented on #129
@lkraider yes. I was noting that the other day, maybe on slack. We should rewrite the whole faraday integration enabling a few midlewares, like cookie-jar, follow-redirects and retry modules, instead of using our custom retries, lack of redirect following, and custom cookie management.

[2015-10-22 19:58] egarlock opened #135 "spaceship - developerservices2 - 'Your session has expired. Please log in.'"
[14:53:12]: Starting login with user 'MyAppleId@domain.com'
    /Library/Ruby/Gems/2.0.0/gems/spaceship-0.12.2/lib/spaceship/client.rb:255:in `parse_response': {"responseId"=>"2e9ec05d-8704-4363-bb0d-0f6c3e97c78d", "resultCode"=>1100, "resultString"=>"authentication.failed", "userString"=>"Your session has expired.  Please log in.", "creationTimestamp"=>"2015-10-22T19:53:14Z", "protocolVersion"=>"

[2015-10-22 20:06] truth3 commented on #135
@egarlock We are all having trouble with this unfortunately, so you are not alone. Uploading to iTunes Connect seems to be fine, but any action accessing the developer portal is returning the same error.

[2015-10-22 20:08] egarlock commented on #135
Misery loves company, thanks for the heads up!

[2015-10-22 20:35] egarlock commented on #135
While I was repeatedly getting this error when using Produce / Cert / etc, I was able to log in and use Dev Portal using the Spaceship Playground. At this present moment I am not receiving this error anymore.

[2015-10-22 20:40] truth3 commented on #135
@egarlock Every action just worked for me too :) Is it too early to celebrate?

[2015-10-23 16:03] icecrystal23 opened #137 "Various issues due to new tvOS provisioning profile and device types"
Places that reference ```Spaceship::Device.all``` need to be updated to filter the devices based on the provisioning profile type (iOS vs tvOS)

I believe this is the root cause for issues people are seeing in the ```sigh``` tool.

I am going to try and fix this today so we can use the full feature set of ```sigh``` again.

[2015-10-23 21:43] #137 closed

[2015-10-26 21:57] kraftydevil opened #140 "Programmatically select 'team'"
Spaceship.select_team allows a user to choose a dev team manually from a list.

How can I select the team by team_id if I know it already?

I want to automate team selection so I'm curious of my options.

[2015-10-26 22:08] KrauseFx commented on #140
[code]

or

[code]

[2015-10-26 22:08] #140 closed

[2015-10-26 22:41] KrauseFx commented on #122
According to the docs, bundle identifier are case sensitive

also https://stackoverflow.com/questions/7688379/does-bundle-id-need-to-be-case-sensitive

[2015-10-26 22:41] #122 closed

[2015-10-27 01:35] B1ack3y3 opened #141 "Deleting provisioning profile gets 'Bad Request'"
Hi, I'm deleting provisioning profile using spaceship (0.12.3), I just call the delete! method and got 'Bad Request'

Here's the detail information:
[code]

[2015-10-27 06:03] Ashton-W opened #142 "Crashes Organizer - Crash Web Services"
I'm trying to document and then implement the Crash Web Services API. The following is what I have found so far, but I need help getting it working in *spaceship*.

https://developer.apple.com/library/prerelease/ios/recipes/xcode_help-crashes_organizer/AboutCrashesOrganizer/AboutCrashesOrganizer.html

Most of what I have found has been in mitmproxy logs from Xcode and from looking at `DVTAnalytics

[2015-10-27 08:18] Ashton-W commented on #142
Project to unlock the hidden CLI tool inside `DVTAnalyticsClient.framework `: https://github.com/Ashton-W/XcodeAnalyticsClientTool

[2015-10-27 10:40] Ashton-W opened #145 "Released Application has no Builds"
I'm trying to get the build version (`CFBundleVersion`) of a released app, it isn't on TestFlight.
The `Application` object doesn't have any builds or build trains. I don't see any other way to get the build and version.

[2015-10-27 16:00] kraftydevil commented on #140
Hmm - I'm still having issues.

Here's my usage:

teamTester.rb:

require 'spaceship'
test_spaceship = Spaceship.login("email@email.com", "PW123")
FASTLANE_TEAM_ID="AFX92HTD24"
puts test_spaceship.team_id

output:
The current user is in 2 teams. Pass a team ID or call `select_team` to choose a team. Using the first one for now.
Y7T7VACTKJ

Y7T7VACTKJ !=AFX92HTD24

[2015-10-27 16:07] kraftydevil commented on #140
Nevermind -

test_spaceship.team_id = "YOUR_TEAM_ID" seems to be working fine now.

I'm sure I tried that before. It might be working now because I installed fastlane and ran init.

Either that or I was doing something wrong when testing with irb

[2015-10-27 17:28] KrauseFx commented on #142
To get information about requests, I'd recommend using Charles Web Proxy - this way you don't have to use Hopper

[2015-10-27 21:26] Ashton-W commented on #142
I'm using mitmproxy to capture network traffic, was looking in frameworks for additional info.

The authentication seems to be a little different to other services - I almost have it working.

[2015-10-28 10:00] maciekish opened #149 "Access review status"
Hi,
Is it possible to access the external beta review status please?

Regards
Maciej

[2015-10-28 10:14] lacostej commented on #149
I think it is possible. See https://github.com/fastlane/spaceship/blob/master/docs/iTunesConnect.md

[code]

etc

[2015-10-28 11:29] Ashton-W commented on #145
I think this requires additional iTunes Connect/iTunes APIs to be added to spaceship. I'll document them in another issue.

[2015-10-28 11:29] #145 closed

[2015-10-28 16:44] KrauseFx commented on #149
I think @maciekish means something like `Waiting for Review`, `Approved`, etc. right?

[2015-10-28 17:21] maciekish commented on #149
@KrauseFx exactly. Is that available please?

[2015-10-28 17:44] KrauseFx commented on #149
@maciekish No, sorry

[2015-10-28 17:47] maciekish commented on #149
Is there any other way to tell that the app has passed the revirew, like looking at which build is active for testing for example?

[2015-10-28 17:50] lacostej opened #150 "Deliver/spaceship stability work"
Here's a summary of the work I am doing trying to stabilize the issues in spaceship/deliver.

I wrote a little tool to stress test our use of spaceship/deliver. https://github.com/lacostej/FastlaneIT

Here are the issues I've found in the deliver & spaceship issue trackers:

## deliver
* fastlane/deliver#348 Spaceship::TunesClient::ITunesConnectError in 1.0.0 beta3
* fastlane/deliver#349 Unauthori

[2015-10-29 09:27] lacostej commented on #130
Most probably a (temporary) DNS resolution failure.

[2015-10-29 14:13] richarddigifit commented on #111
Just tried it today and surprisingly it worked
Issue was on fixed Apple's side I guess :)

[2015-10-29 14:13] #111 closed

[2015-10-30 15:45] maciekish opened #151 "NoMethodError: undefined method `update_testing_status!' for nil:NilClass"
Hi, I get the following error when i try to submit a beta for review:

    [11] pry(main)> build.submit_for_beta_review!(parameters)
    NoMethodError: undefined method `update_testing_status!' for nil:NilClass
    from /Users/maciekish/.gems/gems/spaceship-0.13.0/lib/spaceship/tunes/build.rb:152:in `submit_for_beta_review!'

Here is what i did:

    $spaceship
    version = Spaceship::Tunes::Appl

[2015-10-31 06:48] henrinormak opened #152 "Bad Request - portal_client.rb - associate_groups_with_app"
I have a script (used in turn by an OS X app) that makes use of Spaceship to communicate with the dev portal. Lately I am getting a steady 400 Bad Request upon trying to associate an app with app group(s). Inspected the web requests and there seems to be a new parameter `clientToken` that may be used by Apple as an additional authentication means.

[code]

[2015-11-01 20:43] DouglasHennrich opened #153 "Sigh fails on Spaceship login"
I'm trying to create an provisioning by `sigh --development` but it fail on login
[code]

already run `gem update` and everything seens to be updated

[2015-11-02 05:56] ptarjan commented on #130
but should it fail catastrophically?

[2015-11-02 06:31] lacostej commented on #130
what would you expect:
* a better error message ?
* a retrying ?

[2015-11-02 07:42] ptarjan commented on #130
retry 3 times with backoff then a better error

[2015-11-03 04:38] soheil opened #154 "gems/spaceship-0.13.0/lib/spaceship/tunes/tunes_client.rb:501:in `submit_testflight_build_for_review!': unknown keyword: significant_change (ArgumentError)"
In `build.submit_for_beta_review!(parameters)` I get this error:

```gems/spaceship-0.13.0/lib/spaceship/tunes/tunes_client.rb:501:in `submit_testflight_build_for_review!': unknown keyword: significant_change (ArgumentError)```

If I don't provide `significant_change: false` in `parameters` hash I get this error:

```gems/spaceship-0.13.0/lib/spaceship/tunes/tunes_client.rb:148:in `handle_itc_resp

[2015-11-03 04:38] soheil commented on #154
@KrauseFx any ideas?

[2015-11-03 04:41] soheil opened #155 "`update_testing_status` not working"
This does not put the latest (or any) build in external testing mode:
[code]

[2015-11-03 04:41] soheil commented on #155
@KrauseFx how about this one?

[2015-11-05 15:16] maciekish commented on #155
I think these could be related #151

[2015-11-05 16:37] soheil commented on #155
@maciekish you're right. @KrauseFx no comment?

[2015-11-05 18:50] snatchev commented on #155
@soheil thanks for reporting, I can take a look at this issue. I'll be helping out @KrauseFx with spaceship issues.

[2015-11-05 18:54] soheil commented on #155
cool

On Thu, Nov 5, 2015 at 10:50 AM Stefan Natchev <notifications@github.com>
wrote:

[2015-11-06 16:25] romk1n opened #158 "doesn't distinguish between TvOS and iOS builds"
It looks like spaceship doesn't distinguish between iOS and tvOS builds. If you have the same bundle id for both tvOS and iOS apps. When you try to either update metadata or upload a new build specifying version number the error you get is

[code]

The reason i think that it pickup tvOS build first which has been already released.

[2015-11-06 16:37] snatchev commented on #153
Hi @DouglasHennrich, thanks for reporting this issue. Is the login failure consistent behavior for you? We've seen some intermittent problems with authentication.

[2015-11-06 19:25] KrauseFx commented on #158
Fixed with https://github.com/fastlane/spaceship/commit/5165056750a21952c47b2dc459e1ba78eebff073, pushing a new release now :+1:

[2015-11-06 19:26] #158 closed

[2015-11-07 03:01] romk1n commented on #158
Many Thanks !

On Friday, November 6, 2015, Felix Krause <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2015-11-07 23:27] soheil commented on #154
Created a fix here https://github.com/fastlane/spaceship/pull/160

[2015-11-07 23:27] #154 closed

[2015-11-07 23:27] soheil commented on #155
Created a fix here: https://github.com/fastlane/spaceship/pull/160

[2015-11-08 06:47] GarettRogers commented on #150
If it helps...
I was using fastlane, and had a folder with screenshots (4 of them in the en-US folder).  Without fail, I got the "Unauthorized access" message.  Inside of iTunes connect, no screenshots appeared to be uploaded.

After reading about this issue, I decided to remove all the contents of the screenshots folder, since I only had 4 screenshots for each screen size in en-US, and could deal

[2015-11-09 05:04] self-creative opened #161 "How can I read testflight build subversion"
For example Now my app was 7.9.4 ,and now i want to konw the lastest build number like 7.9.4.5

[2015-11-09 13:03] maciekish commented on #155
#151 still persists. I cloned master rebuilt the gem, uninstalled 13.1 and installed the manually built one. Can you please have a look at it?

[2015-11-09 13:04] nAviram commented on #103
In my case you it was the agreement - you must agree to the privacy&terms agreement both in iTunes & developer center.

[2015-11-09 15:26] snatchev commented on #155
@maciekish I have a branch that in combination with #160 may fix the issue.

[2015-11-09 17:27] seapy commented on #103
:+1:  same situation to me and resolved

[2015-11-09 17:41] snatchev commented on #155
I have a work-in-progress branch here: https://github.com/fastlane/spaceship/commits/update-build-trains

It appears that this causes some back-end validation error that I am still investigating.
A snippet of the response contains:
[code]

[2015-11-09 20:27] JesseCrocker opened #162 "Error in update_app_version when running deliver"
But not the same error as #117

[code]

response to request update_app_version, logged on tunes.client.rb:280:
[code]

Deliverfile
[code]

Note: username has been changed

[2015-11-09 21:38] snatchev commented on #155
For external testing, it looks like you need to specify the exact build that you want to release for testing. In my branch, I have the build be an optional parameter, being unnecessary for internal testing, and for external testing it will default to the latest build.

[2015-11-09 22:41] pieisgood opened #163 "app.resolution_center throws UnexpectedResponse"
Couldn't find an open issue about this, but the app resolution center function is getting back bad json and throwing an UnexpectedResponse.

[2015-11-09 23:13] pieisgood commented on #163
Looks to using a new url format ->
https://itunesconnect.apple.com/WebObjects/iTunesConnect.woa/ra/apps/{appID}/platforms/{platform}/versions/{versionNumber}/resolutionCenter?v=latest

[2015-11-09 23:35] pieisgood commented on #163
Fixed it locally, just needs the platform and not the version number.

[2015-11-10 14:03] maciekish commented on #155
But when I'm doing the following it should tell it the precise build i want to activate?

    build = version.candidate_builds.first
    version.select_build(build)
    version.save!
    parameters = {
        ...
    }
    build.submit_for_beta_review!(parameters)

[2015-11-10 21:39] JesseCrocker commented on #162
I was hoping this may have been a temporary ITC error, but it's still happening over 24 hours later.

[2015-11-11 10:31] MaximSt commented on #141
Version 0.13.1 has the same problem

[2015-11-11 14:28] MaximSt opened #166 "Concurrent processes, different teams"
Hey guys,
I use a script for creating different records on apple dev portal for different teams simultaneously (tested with `shoryuken`, `sidekiq` and ruby threads). I noticed that team id is being shared between two threads when I use different values.
I created a small test example
[code]
after this I checked spaceship log
I see 1 record like this
`POST: account/ios/identifiers/listAppIds.action

[2015-11-11 16:43] bolismauro opened #167 "Bad Request on app creation"
Hi,
I just started working on spaceship for an internal tool.
I'm trying to programmatically create an app in the developer portal but I receive a `Bad Request` response.
Here it is the code

[code]

I discovered that the issue related to the fact that the `csrf` and `csrf_ts` headers are not sent. This may be correct since previous requests don't return that headers.

As a workaround I've added a

[2015-11-11 17:16] snatchev commented on #155
@maciekish I am not entirely clear on what is happening in the backend, but my testing shows that we need to supply the build being set for external testing in the request.

[2015-11-11 17:32] maciekish commented on #155
@snatchev How do i provide this information? Is it still in testing on your branch or is the issue fixed now?

[2015-11-11 20:39] JesseCrocker commented on #162
This turned out to be an issue with language codes.
cmn-Hans is now zh-Hans
Several other languages had changes from xx-YY to xx.

It seems like there should be better handling for this issue, but the error response from ITC was totally useless, and didn't even hint what the error was.

[2015-11-12 00:41] snatchev commented on #166
@MaximSt in order to use Spaceship in a thread-safe manner, you must pass in the clients (using `set_client`) when using class-level methods. For instance, your example could be written as:

[code]

Remember, `Portal` clients are not compatible with `Tunes` clients!

[2015-11-12 02:06] iamcam opened #168 "Support for 2 Step Verification"
I tried running my fastlane script this evening and received this error from spaceship:

`"Could not fetch the login URL from iTunes Connect, the server might be down`

My crash log number is `8e2ffae7865d7fc5db42ca6da111b6c8`

[code]

Thanks!

[2015-11-12 07:46] cemo commented on #168
+1

[2015-11-12 10:04] KrauseFx commented on #168
I already pushed a fix yesterday, please update using `gem update spaceship`. @iamcam You're using `spaceship 0.5.3`, which is super, super old, please update to `0.14.0` :rocket:

[2015-11-12 10:11] cemo commented on #168
This might be true but latest version have an another issue as well. I have updated at this morning but have another issue. It does not display an informative error. It is only rendering an html page.

[code]

[2015-11-12 10:11] cemo commented on #168
Should I open another issue as well @KrauseFx?

[2015-11-12 10:35] alexanderott commented on #168
I can confirm the issue that @cemo reported. Thanks @KrauseFx for all your hard work.

[2015-11-12 10:43] maxbritto commented on #168
I also confirm the same issue as @cemo and @alexanderott

[2015-11-12 14:07] ABerkhout commented on #168
I am having the same issue. Digging a bit more into the code there is an issue when logging in to: https://idmsa.apple.com/appleauth/auth/signin.
At line 75 in tunes_client.rb it expects  a cookie named 'myacinfo', but it is not provided in the response.

[2015-11-12 14:48] KrauseFx commented on #168
This might be related to 2 step verification: https://github.com/fastlane/fastlane/issues/838 I'm looking into this!

[2015-11-12 14:50] Nailer commented on #168
I wish Apple would start sending you a heads up before changing stuff like this. Fastlane the de-facto auto-deployment framework.

[2015-11-12 14:52] alexanderott commented on #168
@KrauseFx I tested logging in with an account that has 2 step verification enabled, and with one that doesn't. This error occured in both instances.

[2015-11-12 14:56] KrauseFx commented on #168
Sorry for the inconvenience, please disable 2 step verification for now, until the issue is resolved. The best and easiest way is probably to create a separate Apple ID for `fastlane` so that your main account still has 2 step verification enabled.
I'm working on a solution :+1:

[2015-11-12 14:58] MaximSt commented on #166
Thank you @snatchev
That's cool for threads. But I am not sure how to use the same with ActiveJob.
By default when I try to pass client to job like
`AwesomeJob.perform_later(client)`
it raises ActiveJob::SerializationError.
YAML and Marshal serialization do not work as well, because client contains Proc.
What would you suggest?

[2015-11-12 15:07] #106 closed

[2015-11-12 15:08] KrauseFx commented on #162
Thanks for reporting this issue, I agree, the error message is useless and there should be a better error handling. I re-opened the issue to get this resolved in the future :+1:

[2015-11-12 17:16] lukeredpath commented on #168
Also running into this issue, I tried generating an app-specific password in the Apple My Apple ID section but its not working, any ideas why?

[2015-11-12 17:40] snatchev commented on #166
@MaximSt That is an interesting problem. Ideally, we can make the client serializable, or at least the session data. Since the login credential are the same between clients, the following code may work for you, but I have not tested it.

[code]

[2015-11-12 18:55] lemonkey commented on #168
For what it's worth, I noticed that the watchbuild tool failed late last night with an authentication error, but when re-run this morning everything was fine:

`[08:53:46]: {"data"=>nil, "messages"=>{"warn"=>nil, "error"=>["Unauthorized access"], "info"=>nil}, "statusCode"=>"ERROR"}`
`[08:53:46]: Something failed... trying again to recover`

[2015-11-12 18:56] djtarazona commented on #168
@lukeredpath I think Apple's website is "smart" enough to not allow app-specific passwords to be used when logging in via the browser (which is what `spaceship` is doing, driving a headless browser).  Apple likely assumes you can do two-step verification since their website supports it.

[2015-11-12 18:57] lukeredpath commented on #168
@djtarazona yeah, makes sense. I've resorted to disabling 2FA for now.

[2015-11-12 19:36] tomjcleveland opened #170 "iTunes Connect login fails"
I see the following when I fire up spaceship. It was working yesterday just fine...possibly the API changed when iTC redesigned the login UI yesterday?

[code]

[2015-11-12 20:33] czivko commented on #168
Incase this is useful info for anyone, here is what I discovered.

After upgrading to 0.14 this morning I was getting the same exceptiong that myacinfo was not in the cookies.
This was with an account I invited from iTunes Connect, just for automation purposes last week.  I created the Appple ID account from the invite, it was not a Apple account prior, it is a shorter form to create the account t

[2015-11-12 20:39] wolfe719 commented on #170
Here is a dump of the error I get when setting up a new Fastlane on an existing project:

/cb/spot-ios(new_fastlane ✘): fastlane init
[15:17:34]: Detected iOS/Mac project in current directory...
[15:17:34]: This setup will help you get up and running in no time.
[15:17:34]: First, it will move the config files from `deliver` and `snapshot`
[15:17:34]: into the subfolder `fastlane`.

[15:17:34]: fa

[2015-11-12 20:40] taylorhughes commented on #168
@czivko very helpful, thank you!

[2015-11-12 20:54] lamjam-ny commented on #170
@wolfe719 I'm getting the same stack trace as well trying to use `Spaceship::TunesClient.login`. When I looked at it I noticed that the cookie `myacinfo` is missing from the list of those returned, which would cause it to fall into the else case of the if conditional here:
https://github.com/fastlane/spaceship/blob/841bb725519f24ccb7da25aa67767a24d88c1db4/lib/spaceship/tunes/tunes_client.rb#L75
As

[2015-11-12 21:31] wolfe719 commented on #170
It looks like iTunes Connect web server is not setting the cookie *myacinfo* from the command line.

But when I log into iTunes Connect from Firefox (version 42.0), I can see that the cookie *myacinfo* is actually set properly.

Maybe spaceship needs to "fake" being a Firefox browser by setting the UserInfo inside the header?

[2015-11-12 22:05] czivko commented on #170
I left my findings in #168 that might help.

[2015-11-12 23:51] #163 closed

[2015-11-12 23:53] kewlbear commented on #170
Thank you @czivko !

[2015-11-13 00:49] KrauseFx commented on #106
This is actually improved now, thanks for closing the issue :+1:

[2015-11-13 00:49] KrauseFx commented on #163
:+1:

[2015-11-13 00:49] KrauseFx commented on #170
I just pushed a new version of `spaceship`, could you update using `[sudo] gem update spaceship` and let me know if that fixes the problem for you?

[2015-11-13 00:50] KrauseFx commented on #168
Sorry for the troubles with this issue. I just pushed a new version of `spaceship`, could you update using `[sudo] gem update spaceship` and let me know if that fixes the problem for you?

Thanks @czivko for posting this. Could you try the new version and let me know if that works for both types of accounts?

[2015-11-13 00:52] tomjcleveland commented on #170
@KrauseFx - iTC login works now. Thank you!

[2015-11-13 00:53] #170 closed

[2015-11-13 00:57] KrauseFx commented on #170
Yeah :rocket:

[2015-11-13 00:59] self-creative commented on #151
/Library/Ruby/Gems/2.0.0/gems/spaceship-0.14.0/lib/spaceship/tunes/build.rb:152:in `submit_for_beta_review!': undefined method `update_testing_status!' for nil:NilClass (NoMethodError)

I also raise this error,how can i solve this problem

[2015-11-13 02:42] czivko commented on #168
Hi @KrauseFx

Thanks for your speedy attention.  Great stuff you are doing here.

v0.14.1 Did not fix my issue.  Not sure if it's worth your time to track down the root cause, as it seems Apple is changing their auth procedures, but here is what I am seeing.  I have a work around now so this is not urgent, but just want to let you know if it helps.

*  From iTunes Connect, I invited someone via a

[2015-11-13 08:26] ypelud commented on #168
Spaceship v0.14.1 work for me. Great job !

[2015-11-13 09:08] ABerkhout commented on #168
Fixed it for me as well! Great job!

[2015-11-13 09:25] cemo commented on #168
Fixed for me as well. Thanks.

[2015-11-13 10:03] MaximSt commented on #141
I can not create ad hoc provisioning profile using
`Spaceship.provisioning_profile.ad_hoc.create!(bundle_id: 'BUNDLE_ID', certificate: SOME_CERTIFICATE, name: 'NAME')`
The same error

[2015-11-13 14:25] mcactive opened #173 "Failed login doesn't throw an exception anymore?"
Hi,

Since version 0.5.3 it's not possible anymore to automatically catch the exception given when credentials are incorrect..

It was possible with ``rescue Spaceship::Client::InvalidUserCredentialsError``

But now it just asks for a new password.. Any possibility to throw an exception in stead of asking for new credentials?

[2015-11-13 14:54] wolfe719 commented on #170
Thank you! What a great surprise to wake up to this morning. You are the best!

[2015-11-15 11:59] self-creative opened #174 "how to catch submit_for_beta_review? 's result,Err or success"
Hi ：
  Now ,I want to catch results of the submit_for_beta_review method.So I can do different operations whether failed or successed

[2015-11-15 22:02] wootwoot1234 opened #175 "Error: This train could not be activated because the build(s) is not set expiration date properly."
I'm new to spaceship and don't know how to fix this error.  Any ideas?

    /Library/Ruby/Gems/2.0.0/gems/spaceship-0.14.1/lib/spaceship/tunes/tunes_client.rb:163:in `handle_itc_response': This train could not be activated because the build(s) is not set expiration date properly. (Spaceship::TunesClient::ITunesConnectError)
        from /Library/Ruby/Gems/2.0.0/gems/spaceship-0.14.1/lib/spaceship/

[2015-11-16 10:10] KrauseFx commented on #151
@snatchev What's the current status on this? Do I need to push a new release?

[2015-11-16 13:55] yakimant commented on #168
Hi folks!

So 2FA is not supported?
Than I use we password - it prints login page code "Verify your identity".
Than I create app-specific - fastlane says, it's wrong.

Disabling 2FA for now (sadly).

[2015-11-17 14:21] Delodax commented on #168
Howdy!
Having the same issues as @yakimant
Guess it could be temporary, worked like a charm last week. If more data is needed, just ask me.

[2015-11-17 18:00] KrauseFx commented on #168
@yakimant @Delodax The application specific password can't be used with iTunes Connect unfortunately. I'm working on a solution.

[2015-11-17 20:26] kraftydevil opened #176 "How soon can I download a recently updated provisioning profile?"
Does Apple need some time to process adding a device to a provisioning profile?

Assuming I have an array of profiles (`profiles`) and a new device (`deviceToAdd`):
[code]
The above code produces this error after calling `profile.download`:
[code]
So how can I know if the profile is ready to download?

[2015-11-18 11:22] Intellicode commented on #153
I got the same issue, it seems consistent behavior. Atleast in the last hour.

[2015-11-18 12:13] Intellicode commented on #153
I just tried it with a different user account, and I got the same error, if that helps.

[2015-11-18 14:08] self-creative opened #177 "build.submit_for_beta_review!(parameters) raise err"
Hi :
    I want to change my build after ITC processing,but when i use "build.submit_for_beta_review!(parameters)"mehod i found that throw following issue:

/Library/Ruby/Gems/2.0.0/gems/spaceship-0.14.1/lib/spaceship/tunes/tunes_client.rb:163:in `handle_itc_response': ITC.apps.builds.errorMessage.notApprovedBuild (Spaceship::TunesClient::ITunesConnectError)
	from /Library/Ruby/Gems/2.0.0/gems/spa

[2015-11-18 14:38] self-creative commented on #151
Dear @KrauseFx :
I check the code of method update_testing_status?(),and found it will force update build.build_train's test status.And in order to solve this issue,id do it following code.
         build.build_train = app.build_trains[7.9.4]
         build.submit_for_beta_review!(parameters)
it allows throw err:
...tunes_client.rb:163:in `handle_itc_response': invalid_build_state (Spaceship::Tune

[2015-11-18 14:40] self-creative commented on #151
Dear @KrauseFx :
I check the code of method update_testing_status?(),and found it will force update build.build_train's test status.And in order to solve this issue,id do it following code.

          build.build_train = app.build_trains[7.9.4]
          build.submit_for_beta_review!(parameters)
it allows throw err:

       ...tunes_client.rb:163:in handle_itc_response': invalid_build_state (Space

[2015-11-18 17:56] KrauseFx commented on #176
Try
[code]

[2015-11-18 17:57] KrauseFx commented on #176
As described in the docs

[code]

[2015-11-18 18:40] kraftydevil commented on #176
Your suggestion appears to be the same as what I am doing.

Are you saying to call `repair!` instead of `update!`?

[2015-11-19 13:31] Intellicode commented on #153
@snatchev @DouglasHennrich  we solved the mystery. Apparently, our company was in the middle of changing the entity name in the app store so the developer status suddenly changed to 'pending enrollment'. After getting this fixed, spaceship didn't have any issues anymore.

[2015-11-19 16:29] pietbrauer commented on #153
I got this issue too.

[2015-11-19 19:42] KrauseFx commented on #153
Can you please update `spaceship` using `sudo gem update spaceship`? This is probably due to enabled 2 step verification, which is not yet supported in `spaceship`.

[2015-11-19 20:43] irons commented on #67
I'm seeing the same thing. `Spaceship.provisioning_profile.all` returns distribution profiles only, and `Spaceship.provisioning_profile.development.all` returns no items. Tried it on two sizable iOS dev teams, same results. Currently using Spaceship .14.2, ruby 2.2.2.

When I check the /tmp/spaceship<epoch>.log file, it's about 3MB, and all but the first 6KB of that displays the guts of many many

[2015-11-19 21:21] angeloalduino opened #179 "Create/delete sandbox users for IAP?"
Any plan for implementing this? When testing subscription IAPs, there are limitations with how many auto renewals happen before accounts are unusable and more need to be created. Would be great to be able to create and delete these users quickly. Thanks!

[2015-11-19 21:28] KrauseFx commented on #179
No plans to implement this right now. Thanks for the idea + feedback :+1:

[2015-11-19 21:38] KrauseFx commented on #176
No, you're using
[code]
but instead you should use the return value:
[code]

[2015-11-19 21:42] snatchev commented on #155
@maciekish This should be fixed now. spaceship will try to get the latest build when updating the testing status. If you want to specify another build it must be done like this:

[code]

[2015-11-19 21:42] #155 closed

[2015-11-19 21:48] snatchev commented on #151
@self-creative if you are still having a problem, you may need to re-write the code like this with the latest version of spaceship:

[code]

Note the last parameter of `update_testing_status!` is the build you want to send for external testing. Let me know if this resolves your issue

[2015-11-19 21:51] maciekish commented on #155
Thanks a lot, Ill give it a shot.

[2015-11-19 21:54] irons commented on #176
Good to know. I also would have thought those usages were equivalent, based on examples like `gsub!`.

[2015-11-19 21:59] kraftydevil commented on #176
I missed that one. Thanks for helping me see it.

[2015-11-20 01:39] self-creative commented on #151
Hi:snatchev
I already update my spaceship 0.14.2.And re-write my code :
     build = find_latestUpload_build
     build_train = app.build_trains[ARGV.first]
     build.submit_for_beta_review!(params)
     build_train.update_testing_status!(true, 'external', build)

but spaceship still throw : in ''submit_for_beta_review!" :undefine method''update_testing_status!"for nil:nilclass.

[2015-11-20 04:59] irons commented on #67
Looks like this is by design: https://github.com/fastlane/spaceship/blob/master/lib/spaceship/portal/provisioning_profile.rb#L241

All of our development profiles are Xcode-managed.

[2015-11-20 08:29] 0xced commented on #115
I just had the same error using deliver:
[code]

Upload of screenshots worked fine and upload of metadata looks like it worked fine, at least the release notes which is the only thing that changed.

Do you think it’s still a timeout issue with iTunes Connect?

[2015-11-20 08:34] 0xced commented on #115
Ha, Christian Beer just [tweeted this](http://twitter.com/christian_beer/status/667620540652326912) 5 minutes ago, so probably another iTunes Connect issue, *sigh*.

![cupdv9gxiaa1j_p](https://cloud.githubusercontent.com/assets/51363/11295174/cc7cc80e-8f69-11e5-914e-91ca5c3a09f9.png)

[2015-11-20 09:25] hwaxxer commented on #153
I got this error with a new App Manager account that did not have 2 step verification enabled. Problem was the apple id only had access to iTunes Connect and not to the Developer Member Center.

[2015-11-20 16:35] maciekish commented on #151
@snatchev sorry but it's still giving me the same error. Running my old code in spaceship `0.14.2` yields the exact same error. If i change my code to the following:

    build_train = app.build_trains[app.build_trains.keys.last] //build_train is now a valid train with one unapproved build
    build_train.builds.first.submit_for_beta_review!(parameters)

It instead gives the following error:

[2015-11-22 22:45] adi2004 opened #180 "Feature request: editing devices name in Developer Portal"
It would be nice it it were possible to do that using spaceship, especially when you want to keep the names consistent and have multiple accounts to manage.

(Hope this is the right place to post something like that.)

[2015-11-23 01:45] KrauseFx commented on #180
Yeah, that's the right place, thanks for your feedback :+1:

[2015-11-23 18:44] jaleksynas commented on #119
With latest version of spaceship, http_proxy environment variable is respected as expected by faraday connection code.  It seems that SOCKS may still not be supported, but http_proxy should be sufficient in most cases.   https://github.com/lostisland/faraday/blob/master/lib/faraday/connection.rb#84

[2015-11-24 14:22] MaximSt commented on #141
@KrauseFx I tried to fix such errors using solution from this discussion https://github.com/fastlane/fastlane/issues/349#issuecomment-152137583 , but it does not work if I use it in rails. It does work if I try it in irb console

[2015-11-24 23:08] czivko opened #181 "Add Support for iTunes Connect multiple team / providers"
ITC recently added the ability to access multiple teams ( on ITC they call them providers ) with the same AppleID like has been possible on the developer portal.

I hacked in support for this into Spaceship and have been testing it this week and it has been working for me.  Setting ENV['FASTLANE_TEAM_NAME']  allows deploy to correctly upload to the correct team for me without having to add support

[2015-11-25 20:57] kraftydevil commented on #176
Turns out I am still getting the same error after updating the code to use `profile = profile.update!`

[2015-11-30 15:40] #166 closed

[2015-11-30 15:41] #153 closed

[2015-12-01 13:24] ratkins opened #182 "`handle_itc_response': The phone number must be in a valid format"
I get this error out of `spaceship` when I run `deliver`. It seems to be an error from iTunes Connect, but I've no indication of where it's coming from—none of my metadata seems to contain any phone numbers?

Full stack trace:
<pre>
HTML file confirmed...
[13:13:29]: Activating language en-US...
/Library/Ruby/Gems/2.0.0/gems/spaceship-0.14.2/lib/spaceship/tunes/tunes_client.rb:163:in `handle_itc_r

[2015-12-01 14:09] KrauseFx commented on #182
The error message pretty much says it all `The phone number must be in a valid format. Preface the phone number with ‘+’ followed by the country code (for example, +44 844 209 0611) There are one or more errors on the page.`

You either have no phone number or an invalid phone number declared (on itunesconnect.apple.com or in your local metadata directory)

[2015-12-01 14:18] ratkins commented on #182
"*The* phone number" is the problem.

*Which* phone number? There are none in my metadata, that's what confused me.

(I have since found it in iTunes Connect—it was the store review contact number.)

What's not clear is where and when in the process this error is coming from—if it were possible to note the name of the field that was failing validation that would be fantastic, failing that somethin

[2015-12-01 15:09] shyamvala opened #183 "Issue with uploading an artifact while the app is in review"
https://github.com/fastlane/deliver/issues/478

The issue was originally reported under deliver repo but I think it probably is an issue with Spaceship. Please advise.

Thank you.

[2015-12-01 16:00] loretoparisi opened #184 "Setting up a WebService to Spaceship APIs"
How to setup a WS listening to some port with Spaceship to expose Spaceship api?

[2015-12-02 00:41] tylerweitzman opened #185 "Update price NOW?"
I noticed that when I update the price tier it just sets the next day to change the price. Is it possible to have it update the price for NOW rather than for the end of the day?

[2015-12-02 16:04] SpacyRicochet opened #186 "Failure on external testing because build is not approved makes more sense as a Warning."
Uploading new marketing version builds to Testflight should't be that uncommon. But every build that has a new marketing version will not be used for external testing, which makes sense. They have to be approved first.

Currently this is an Error, which crashes the lane (sentry://bf35345f5afbd22be328ab4e5a6f81c7) and starts any failsafes we have implemented in the Fastfile. Instead, this could be

[2015-12-02 16:21] KrauseFx commented on #185
Can you change the price on iTunes Connect itself to be changed on the same day?

[2015-12-02 17:31] kraftydevil commented on #176
@KrauseFx / @irons - any idea why `profile = profile.update!` would still cause the error?

[2015-12-02 19:14] KrauseFx commented on #176
Do you have the same problem when running `sigh`?

[2015-12-02 19:52] kraftydevil commented on #176
Currently I do not use sigh to compare.
On Dec 2, 2015 2:14 PM, "Felix Krause" <notifications@github.com> wrote:

[2015-12-02 21:20] kraftydevil commented on #176
I found a workaround. This issue must have something to do with the local state of the profile after calling `profile.update!`.

Basically I separated the download from the add/update block, requested the profiles again, and then downloaded:

[code]

[2015-12-03 01:48] KrauseFx commented on #181
Thank you so much for this, I'm working on finishing this up right now :+1:

[2015-12-03 02:22] czivko commented on #181
Cool, glad you found it useful.  It has been working great for me so far.

[2015-12-03 02:52] KrauseFx commented on #181
Hey, thanks @czivko, this is now live with https://github.com/fastlane/spaceship/releases/tag/0.15.0 and a new version of `deliver` :rocket:

[2015-12-03 02:52] #181 closed

[2015-12-05 20:05] Paulo-Branco opened #188 "Error on update_build_information"
Consider the following script:

[code]

It throws the error:
[code]

I'm seeing issues with pilot's integration in fastlane and decided to try to use Spaceship directly. I can't figure out what I'm doing wrong in here. However, if, for testing purposes, I try to replace the implementation of update_build_information! in build.rb with:

[code]

Then everything works as expected and the "what's new"

[2015-12-07 13:22] realf opened #189 "undefined method `[]' for nil:NilClass"
I am trying to update APNS certificates with pem for all apps on team's Apple Developer Portal (over 300 apps for now). After successfull updating several certificates Spaceship fails with error:
[code]
Crash report id: ```dbcad4da2142382a16f5382496a86ad6```

[2015-12-07 13:35] realf commented on #189
The issue is present also in spaceship-0.15.2

[2015-12-09 00:22] tylerweitzman commented on #185
Yeah I can do it by clicking the price tier and selecting a different one, saving without ever accessing the date features. I've timed the change to take ~53 minutes to change on the app store from the time I save.

For your convenience, here is a google doc with a screenshot of how to do this on iTunesConnect as well as with the HTTP request info in `curl` format (with only sensitive info deleted

[2015-12-12 01:16] fsproru opened #194 "FASTLANE_ITC_TEAM_ID and FASTLANE_TEAM_ID"
Hello,

We're using fastlane and as far as I understand it uses spaceship under the hood. When we run fastlane, it sets `FASTLANE_TEAM_ID` but spaceship itself looks for `FASTLANE_ITC_TEAM_ID` which causes it to prompt for selecting a team unnecessarily.

Was there a reason why a different environment variable is used in `Spaceship::TunesClient#select_team` ?

Thanks,
Alex

[2015-12-12 02:15] KrauseFx commented on #194
Recently Apple introduced teams for iTunes Connect. They are different from the teams in the Apple Developer Portal. Does that make sense?

[2015-12-12 02:40] fsproru commented on #194
Gotcha, in our case they are the same teams. Would it make sense to make
the chosen Apple Developer Portal team a default for iTunes Connect team if
FASTLANE_ITC_TEAM_ID is not set ?

If doesn't aligning with design, then we'll need to do it ourselves in our
Fastfile to achieve this behavior.
On Fri, Dec 11, 2015 at 6:15 PM Felix Krause <notifications@github.com>
wrote:

--
Alex Tamoykin
CTO, The

[2015-12-12 03:49] KrauseFx commented on #194
I'm pretty sure the Team ID is not the same, can you check that? These are 2 different web services with different IDs.

[2015-12-12 05:54] czivko commented on #194
Team ID is different across the platforms but team name is consistent, so far for me. So having one global team name ENV setting would be helpful.

Charles.

[2015-12-12 18:57] KrauseFx commented on #194
@czivko While the team name might be the same, it might not always be the case. It's an implementation detail on Apple's side, which might change in the future

[2015-12-12 20:32] ajn123 opened #195 "Can I get the number of downloads for my app?"
I want to create a simple dashboard that shows the number of downloads/ crashes for my app.  Is it possible to use this API to get the current app downloads of a specific app/all my apps?

[2015-12-12 21:35] fsproru commented on #194
@KrauseFx @czivko make sense. We'll use `FASTLANE_ITC_TEAM_ID` and `FASTLANE_ITC_TEAM_NAME` on our side then. Thanks!

[2015-12-12 21:35] #194 closed

[2015-12-13 23:39] KrauseFx commented on #195
You can already do that for builds I think, but not for your application in the App Store. @pieisgood is working on that actually: https://github.com/fastlane/spaceship/pull/190

[2015-12-13 23:39] KrauseFx commented on #141
Yeah, it looks like it's the same issue as https://github.com/fastlane/fastlane/issues/349

[2015-12-14 01:39] KrauseFx commented on #189
Can you share your `actions/update_apns_certificates`?

[2015-12-14 01:40] KrauseFx commented on #186
I just pushed https://github.com/fastlane/pilot/releases/tag/1.2.0 where you can choose how you want to distribute your build :+1:

[2015-12-14 01:40] #186 closed

[2015-12-14 01:41] KrauseFx commented on #184
Not sure what you mean. `spaceship` is a Ruby gem to interact with Apple and doesn't provide a web service.

[2015-12-14 01:41] KrauseFx commented on #115
Yeah iTunes Connect :sparkles:

[2015-12-14 01:42] KrauseFx commented on #67
Yeah, `spaceship` and `sigh` don't touch your Xcode managed profiles in any way, to not break any other setups :+1:

[2015-12-14 01:42] #67 closed

[2015-12-14 01:43] KrauseFx commented on #177
Can you try passing 'internal' instead of 'external'? Also, please provide the code you use to try it.

[2015-12-14 01:43] KrauseFx commented on #175
This error is raised by iTC: `This train could not be activated because the build(s) is not set expiration date properly`

I haven't seen it before and don't know how to resolve it. Do you also get that error when you try to do the same thing via iTunes Connect?

[2015-12-14 01:44] KrauseFx commented on #174
You can always surround it using
[code]

[2015-12-14 01:44] KrauseFx commented on #167
Ahh, nice catch. I actually added this to the certificate with https://github.com/fastlane/spaceship/commit/ce3c8c4ac1b5e572c5176524392d01d537c59add.

I'll add this to the other `create!` methods too

[2015-12-14 01:46] #167 closed

[2015-12-14 01:46] KrauseFx commented on #167
Thanks again, this will be in the next release :+1: Great job on finding out that that's the problem.

[2015-12-14 01:46] KrauseFx commented on #167
Pushed https://github.com/fastlane/spaceship/commit/a364b5987ba7b8b5ede39dc333039f138ccb770a

[2015-12-14 09:40] shirkan opened #196 ""Made for kids" boolean and age range"
Hi,
Lately Apple added an option to mark game as "Made for Kids" on ratings screen. Also, if marked, the distributor can select a range of kids age, as in the attached screen.
Are you going to support these kinds of settings?
Thanks,
Liran.
![screen shot 2015-12-14 at 11 39 24 am](https://cloud.githubusercontent.com/assets/860107/11777498/863acb4c-a257-11e5-84a7-7eeef47e1926.png)

[2015-12-14 11:12] skywinder opened #197 "Show better error message when account has legal issues"
https://github.com/fastlane/produce/issues/87

[code]

---

Update!

Try to create app manually and got warning, that I have to sign some legal issues. But it's better to warn users about that, not just throw error.

![screen shot 2015-11-09 at 15 27 43](https://cloud.githubusercontent.com/assets/3356474/11034736/8598088e-86f6-11e5-8a75-d7857d748115.png)

[2015-12-14 12:49] sarthak03 opened #198 "encode': "\xE2" on US-ASCII (Encoding::InvalidByteSequenceError)"
Encountering this error frequently while uploading apps on iOS using `deliver`.

[code]

[2015-12-14 16:06] realf commented on #189
Hi @KrauseFx,
In a nutshell this is what I have.

[code]

[2015-12-14 19:23] KrauseFx commented on #141
I just pushed a new release https://github.com/fastlane/fastlane/issues/349#issuecomment-164532200 :rocket: Please let me know if that works for you :+1:

[2015-12-15 00:33] pieisgood commented on #195
if you absolutely need it, the pull request contains working code, but I'd wait till everything gets finished fo real.

[2015-12-15 01:35] self-creative commented on #174
@KrauseFx ,Thanks so much!

[2015-12-15 01:38] self-creative commented on #177
following is my test code:

require 'spaceship'
train = app.build_trains["7.9.6"]
train.builds[8].submit_for_beta_review!(parameters)

[2015-12-15 07:15] B1ack3y3 commented on #141
@KrauseFx Thanks, I'll try new version later.

[2015-12-15 10:57] B1ack3y3 commented on #141
@KrauseFx I'm currently using spaceship 0.15.2, and a few days ago, when I was deleting provisioning profile, I still got 'Bad Request'.

But just a few minutes ago, delete provisioning profile using spaceship 0.15.2 just worked.

[2015-12-16 04:34] micnguyen commented on #188
Is this to do with internal or external testers? I'm not seeing a 'what's new' in internal builds, only "what to test". Is this the same?

[2015-12-16 09:27] loretoparisi commented on #184
@KrauseFx I see, but how about to use it with Rails?

[2015-12-16 10:13] OlKir opened #200 "Wrong selection of push notification certificate"
When I try to get push notification certificate information using this code

prod_push_certs = Spaceship.certificate.production_push.all
target_cert = prod_push_certs.find { | cert | cert.name = "com.bundle.id" }

I get mixed information and link to other certificate:

<Spaceship::Portal::Certificate::ProductionPush
	id="8VRZ95GR2Y",
	name="com.bundle.id",   <-- bundle name from the request
	statu

[2015-12-16 16:59] OlKir commented on #200
Sorry, it was stupid..
Should be cert.name == "com.bundle.id"

[2015-12-16 16:59] #200 closed

[2015-12-17 06:46] Paulo-Branco commented on #188
Yeah, I meant the "What to test".

[2015-12-17 21:08] KrauseFx commented on #184
Rails is a web framework based on Ruby. You can just call Spaceship code from there. Check out this example Rails application https://github.com/fastlane/boarding :+1:

[2015-12-17 21:08] #184 closed

[2015-12-18 00:10] KrauseFx commented on #141
Oh yeah :rocket:

[2015-12-18 00:10] #141 closed

[2015-12-18 00:10] KrauseFx commented on #141
cc @snatchev :+1:

[2015-12-18 00:10] #174 closed

[2015-12-18 00:19] KrauseFx commented on #189
Could you try the latest spaceship release?

[2015-12-20 02:13] imton opened #203 "spaceship bin does not pause to prompt"
It seems ```binding.pry``` needs  something after to pause or it will continue.
I fixed with
[code]

[2015-12-20 04:32] KrauseFx commented on #203
This is working fine for me. So when you just run `spaceship` it will exit without letting you interact with the shell?

[2015-12-20 04:45] imton commented on #203
exactly. It has been happening every time I debug stuff on rails and the like, can't use ```binding.pry``` at the end of a method, script, condition, ...it won't be taken into consideration

May be my config?

![image](https://cloud.githubusercontent.com/assets/637225/11916574/4de9041c-a6bb-11e5-96b0-b88ee1a5681c.png)

[2015-12-20 05:00] KrauseFx commented on #203
I wonder why it works for other users then. I had the same issue when it's the last line of a file, yeah.

[2015-12-20 05:00] #203 closed

[2015-12-20 05:00] KrauseFx commented on #203
This will be in the next release :rocket:

[2015-12-20 05:04] imton commented on #203
👊

[2015-12-21 09:22] leoderbois commented on #168
:+1:

[2015-12-21 15:01] realf commented on #189
@KrauseFx Since this is a production I cannot do it right now (we have a schedule for this procedure) but when I can I will update the issue. Thanks.

[2016-01-04 18:59] bartoszj opened #205 "Concurrency issue with /tmp/spaceship[time].log"
If two processes at the same time start fastlane tool they can create the same spaceship log file, or more precisely one process will overwrite log file from another. If two processes from two different users start fastlane tool one of the process crash with permission error:

[code]

Problem is with file `/tmp/spaceship[time].log` which is shared across all users in the system. I would suggest to

[2016-01-04 19:07] bartoszj opened #206 "Concurrency issue with /tmp/spaceship_api_key.txt"
If two processes from two different users start fastlane tool, like sigh, at the same time and the shared file `/tmp/spaceship_api_key.txt` doesn't exists, both processes start fetching api key and try to write to one file. One of the process will crash with error:

[code]

Problem exists because of the shared `/tmp/spaceship_api_key.txt`. I would suggest to move this file to per user cache direct

[2016-01-05 05:45] KrauseFx commented on #206
Thanks for your contribution :+1:

[2016-01-05 05:45] KrauseFx commented on #205
:+1:

[2016-01-07 18:11] inkadnb opened #209 "Can't create provisioning profile with launcher"
I'm unable to create a provisioning profile using the launcher. I'm using the Launcher because I need to be able to execute Spaceship in a thread-safe manner by using multiple Spaceships.

Example code:
[code]

I get the following error:
[code]

[2016-01-07 18:24] snatchev commented on #209
I think the `ad_hoc` scoping is causing problems. Would you be able to achieve the same results without using the scoping?

[2016-01-07 18:28] inkadnb commented on #209
I'm not really sure how to create an AdHoc Provisioning Profile without the scoping. The create method seems to be getting hung up when trying to find all existing devices when none are provided. I managed to get around the issue by manually passing in all the devices.

[code]

[2016-01-08 18:51] aaronbenz opened #211 "Endpoints for Easily adding Beta Users to Testflight"
I currently have a flask app that displays events to users, and would love to add a onclick option to sign up for the mobile beta. I believe that I only need two endpoints - login & add users, but having difficulty figuring out exactly what they are (as I would like to simply add this to my python web app).

To give you a brief idea of what I'm talking about, click [here](http://bit.ly/1ZaZb3a)

[2016-01-09 03:10] hhanesand commented on #115
For anyone landing here from google, the same issue seems to be occurring right now
![screen shot 2016-01-08 at 9 08 02 pm](https://cloud.githubusercontent.com/assets/3051243/12214063/4fb1dcec-b64c-11e5-9ba2-911b389aa163.png)

[2016-01-11 11:56] vladislive opened #213 "Spaceship.certificate.development_push.all shows bad results"
Hello. There is bug with output of this functions:
Spaceship.certificate.development_push.all
Spaceship.certificate.production_push.all
For example I have 100+ certificates but after update to spaceship-0.19.0 it shows only last production cert and only 3 dev certs.

[2016-01-11 16:13] vpolouchkine commented on #115
Hey @hhanesand are you still getting this error?

[2016-01-11 16:18] vpolouchkine commented on #213
Could you post the full log please?

[2016-01-11 19:15] vladislive commented on #213
[code]
While in previous versions I can view all certificates.

[2016-01-11 19:23] KrauseFx commented on #211
Check out `boarding`'s source code which can already do that https://github.com/fastlane/boarding/blob/master/app/controllers/invite_controller.rb#L56-L72
Basically login and add a tester, all documentation can be found [here](https://github.com/fastlane/spaceship/blob/master/docs/DeveloperPortal.md)

[2016-01-12 02:27] KrauseFx commented on #213
There hasn't been any changes on this recently AFAIK. Which version introduced this issue for you?

[2016-01-12 02:32] KrauseFx commented on #189
Sounds good :+1:

[2016-01-12 10:30] vladislive commented on #213
@KrauseFx
spaceship 0.19.0 shows the result above
here is log for spaceship 0.18.0
[code]

[2016-01-12 17:33] skywinder opened #215 "match development crash"
`match development` crashed because of I don't sign last agreement.
here is output:

[code]

[2016-01-12 18:02] hhanesand commented on #115
@vpolouchkine I am not getting it anymore. Try checking with Safari?

[2016-01-12 18:47] vpolouchkine commented on #115
@hhanesand Works on my end.

[2016-01-12 20:03] hhanesand commented on #115
Yes, same here.

@KrauseFx This issue can be closed if you want to.

[2016-01-12 22:13] vpolouchkine commented on #215
What happens if you login on the website to confirm the license agreement?

[2016-01-12 22:20] skywinder commented on #215
Yes, it solves the problem.
Just report about this crash. Probably you would like to handle it in in proper way, not just a crash

[2016-01-12 22:22] vpolouchkine commented on #215
That's fair, thanks for the report.

[2016-01-12 22:22] #215 closed

[2016-01-12 22:27] truth3 commented on #215
I have run across this response a few times and thought it would be neat if we can generate an email to the person behind the "Contact Agent" button that you see presented on the account overview screen.

https://developer.apple.com/account/overview.action

[2016-01-13 17:57] iOSAppMaker commented on #113
Same problem.

[2016-01-13 19:05] vpolouchkine commented on #113
@iOSAppMaker Have you tried incrementing the the version number?

[2016-01-13 19:19] iOSAppMaker commented on #113
Yes ofcource.
It gets incremented autmatcally through the build_increment command in FastFile itself.
These problems all started after updating to the new versions of everything.
Untill then everyhign was working fine.
Now I'm confused because I'm getting multiple errors from multiple corners in different projects.
I don't know which one to revert, because I don't know which ones are the problem.

[2016-01-13 19:35] vpolouchkine commented on #113
See https://github.com/fastlane/spaceship/issues/113#issuecomment-144861081

[2016-01-13 19:54] iOSAppMaker commented on #113
Sorry, I didn't get it, what??

[2016-01-13 20:01] vpolouchkine commented on #113
Were you asking why you need to increment the version number? That's an iTC requirement, as Felix posted in his comment above.

[2016-01-13 20:08] iOSAppMaker commented on #113
I think you misunderstood, no I didn't ask why the number has to be incremented. I was saying it keeps asking me to do it, even after it was already incremented.

[2016-01-13 20:33] vpolouchkine commented on #113
Ah, gotcha.

[2016-01-13 20:36] vpolouchkine commented on #113
@iOSAppMaker Would you mind posting your Fastfile and the full log?

[2016-01-13 21:11] iOSAppMaker commented on #113
Fastfile (the lane I use currently is updateAllS):

[code]

[2016-01-13 21:12] iOSAppMaker commented on #113
@vpolouchkine This used to work before. I didn't change anything, except updated all using "sudo gem fastlane update". Mine was 3-4 version backward in most thing like gym, cert, deliver, fastlane_core, fastlane, snapshot, etc.

[2016-01-13 21:19] iOSAppMaker commented on #113
Error log from CLI:

[code]

[2016-01-14 00:52] iOSAppMaker commented on #113
This might be a path problem. I had edited the path reading format in the previous version. The new one is reading from the new format, so let me check that.

[2016-01-14 15:52] ohwutup commented on #113
thanks for your help so far @iOSAppMaker - looking forward to hearing what you find out!

[2016-01-14 18:17] zineer opened #217 "live_version not found"
Spaceship isn't loading the live_version for one of our apps:
[code]
even though it is 'Ready For Sale' http://screencast.com/t/nIxyHkgn in iTunesConnect.

Thoughts? Thanks!

[2016-01-14 18:24] zineer commented on #217
I found some more detail in the logs if it helps:
[code]

[2016-01-14 22:47] iOSAppMaker commented on #113
The problem was with my Fastfile itself. The path to IPA passed was the old one. So naturally, it was asking me to increment build number.

[2016-01-15 00:46] KrauseFx commented on #217
Can you post a screenshot of how your app looks like on iTunes Connect?

[2016-01-15 00:51] czivko commented on #217
I'm getting this also just starting yesterday.  I looks like Apple has changed the structure of the JSON they return.

[2016-01-15 00:54] zineer commented on #217
![00000028](https://cloud.githubusercontent.com/assets/583705/12342472/6d68c542-badf-11e5-8d19-eca94ada6298.png)

[2016-01-15 02:22] KrauseFx commented on #217
Thanks everybody, I just pushed a release with a fix: https://github.com/fastlane/spaceship/releases/tag/0.19.1
Please update using `gem update spaceship` or run `bundle update` if you use `bundler`

Let me know if that works for you :+1:

[2016-01-15 03:20] zineer commented on #217
:thumbsup:

[2016-01-15 03:20] #217 closed

[2016-01-15 15:04] ohwutup commented on #113
@aziz-boudi4 were you experiencing the same issue? can we close this?

[2016-01-16 04:51] ndrewh commented on #168
+1

[2016-01-19 11:01] skywinder opened #218 "Crash during upload screenshots via deliver"
`deliver` command uploads 60 screenshots (for 2 localisations, 30 each), then throw this error:

[code]

[2016-01-19 11:14] skywinder commented on #218
As workaround I have to remove successfully uploaded language folder, and deliver start to upload with next language. Usually it can upload 1-2 language before crash.

[2016-01-19 18:57] inkadnb opened #219 "Multiple Tunes instances"
I couldn't find an example of using Multiple Tunes instances so I took the [launcher](https://github.com/fastlane/spaceship/blob/master/lib/spaceship/launcher.rb) used for Spaceship and created one for Tunes.
### TunesLauncher.rb
[code]

However, it does not seem to be working how I expect. I was able to do something of the sort

[code]

and I get an app object back with information I would expect

[2016-01-19 18:59] inkadnb commented on #219
Also might be related to #209

[2016-01-19 21:29] vpolouchkine commented on #218
Could you update spaceship using `sudo gem update spaceship` and see if that fixes the problem?

[2016-01-19 21:47] lacostej commented on #219
@inkadnb here's a potential temporary work-around for your issue. Modify your launcher application method to

[code]

This is a bit unpractical. It needs to be cleaned up.

[2016-01-20 12:32] skywinder commented on #218
@vpolouchkine

    Nothing to update

I'm currently on latest version. Sometimes it can't upload even 30 screenshots, sometimes it's up to 90..

[2016-01-20 17:02] inkadnb commented on #219
Thanks for the help @lacostej I'll give that a shot :+1:

[2016-01-20 17:25] lacostej commented on #219
@KrauseFx what about making application the only class that would need setting the client into and modifying all TunesBase subclasses to get the client through the (directly or indirectly) referenced application instance ?

[2016-01-21 15:36] Bureauwlamp commented on #115
I'm still getting this error from time to time. It gets pretty annoying when I'm trying to upload 25 screenshots for 25 localizations, especially because the process has to be restarted. I remove the folders from the localizations that were already uploaded so that it doesn't reupload those again.

Isn't there a way to let Deliver retry the connection after this error? So that it continues where i

[2016-01-21 18:09] vpolouchkine commented on #115
@Bureauwlamp Could you please open a separate issue under f/deliver?

[2016-01-21 23:00] CraigSiemens opened #221 "Unexpected response from iTC "authentication.failed""
I'm getting this error while using sigh 1.2.2 with spaceship 0.19.2. I've tried with multiple apple ids and the same thing happens.

If I downgrade to sigh 1.2.1 and spaceship 0.19.0 it works fine for all apple ids.

/Users/craig/.rvm/gems/ruby-2.2.1/gems/spaceship-0.19.2/lib/spaceship/client.rb:269:in `parse_response': {"responseId"=>"673a004d-7d47-40d0-818b-bcdafbdb1039", "resultCode"=>1100, "re

[2016-01-21 23:58] postmechanical commented on #221
Getting this error since yesterday in TravisCI builds with fastlane 1.51.0.

[2016-01-22 00:29] KrauseFx commented on #221
Thanks for letting me know, fixed with https://github.com/fastlane/spaceship/releases/tag/0.19.3, please update using `sudo gem update spaceship` or `bundle update` if you use `bundler`. Sorry for the troubles.

[2016-01-22 09:52] Bureauwlamp commented on #115
@vpolouchkine Will do, thanks!

[2016-01-22 16:37] CraigSiemens commented on #221
Works for me. Thanks.

[2016-01-22 18:25] douglaslondrina commented on #182
@ratkins You should add the phone number in your Deliverfile:
https://github.com/fastlane/deliver/blob/master/Deliverfile.md#app_review_information

@KrauseFx , for further clarification, even with the phone set in Deliverfile I was having this same error because there was already an phone configured in iTC that hadn't the "+" required, therefore the error.
Maybe spaceship doesn't change the value

[2016-01-22 21:09] KrauseFx commented on #182
Closing this issue, as you'll get the exact same error message when doing that on iTunes Connect.

[2016-01-22 21:09] #182 closed

[2016-01-22 21:10] #221 closed

[2016-01-22 21:10] KrauseFx commented on #221
:+1:

[2016-01-26 06:47] patgoley opened #224 "UnexpectedResponse Exception for account without iTunes Connect access."
When trying to log into iTunes Connect with spaceship, if the account provided does not have access to iTunes connect, spaceship crashes. Tested with Spaceship::TunesClient.login("myappleId@test.com", "password") except with real credentials. What's strange is that when launching spaceship, it claims that logging into iTunes succeeds. Trying to log into iTunes Connect directly reports "Your Apple

[2016-01-26 06:49] #224 closed

[2016-01-26 14:33] tiefox opened #226 "iOS Enterprise only account not working"
Hi. I have an iOS Enterprise only account and having an issue setting up a new project with the latest version of Fastlane. Some previous versions ago it was working fine.

spaceship is failing when accessing
https://itunesconnect.apple.com/WebObjects/iTunesConnect.woa/ra/user/detail

For me it returns if I try to access this URL directly in my browser:
{"data":null,"messages":{"warn":null,"error"

[2016-01-26 19:30] guidev commented on #168
+1

[2016-01-27 08:01] marmoy commented on #226
I am having this issue as well. The problem has been introduced between fastlane version 1.50.0 where the issue does not exist and 1.53.0 where the issue exists.

Since Apple Developer Enterprise Program's don't need/use iTunes connect, could it be that the returned 'Unauthorized access' is expected behaviour in these scenarios, and that spaceship should handle that?

[2016-01-27 13:34] CsabaSzabo commented on #115
I got this error with `pilot` today 6 times from 10 attempts.
Is there any plan to implement a retry or reconnect logic in spaceship?

[2016-01-27 15:41] sandorhadasdig opened #227 "crash on ad_hoc provisioning profile delete!"
profile = Spaceship.provisioning_profile.ad_hoc.find_by_bundle_id("*")
    profile.each do |prof|
        if prof.name == "Profile Name"
            prof.delete!
        end
    end

and also

    profile = Spaceship.provisioning_profile.ad_hoc.all.first
    profile.delete!

results in:
/usr/local/rvm/rubies/ruby-2.3.0/lib/ruby/2.3.0/json/common.rb:156:in parse': 784: unexpected token at 'Bad Requ

[2016-01-27 17:15] lacostej commented on #115
@CsabaSzabo  I am working on something like that. But first trying to understand the underlying issues better. See #150 for tracking that all.

[2016-01-28 08:49] Buju77 opened #228 "app.resolution_center fails with Spaceship::Client::UnexpectedResponse"
I'm somehow not able to access the `resolution_center` from one of our rejected apps.

[code]

[2016-01-28 09:14] Buju77 commented on #228
further investigation `app.platform` return `nil` for the app. but it should be "ios"

[2016-01-28 09:31] christopherstott opened #229 "tvOS Provisioning Profile Creation support"
If I'm reading things correctly, there's no current way to create a tvOS provisioning profile with spaceship.

It looks like it's a fairly straight-forward addition of passing in a subPlatform parameter to createProvisioningProfile.action

[code]

I was thinking of doing this the same way as mac is passed in by adding an additional param in a couple of places.

ie.

portal_client.rb
```def create_

[2016-01-28 10:07] Buju77 commented on #228
is there a way how I can find out what the new url looks like? or is it just brute force and trying all kinds of variations manually?

[2016-01-28 10:39] CsabaSzabo commented on #115
@lacostej Nice one, thank you.

Happy to help you in solving this issue.
Let me know if I can help you in anything.

[2016-01-28 10:47] lacostej commented on #228
app.platform should never be `null`

To find the new URL, open itunes connect and follow the link to the resolution center.

For example for me, I have a mac app that is rejected.

The app page is: https://itunesconnect.apple.com/WebObjects/iTunesConnect.woa/ra/ng/app/813681744

The link to the resolution center from that page is: https://itunesconnect.apple.com/WebObjects/iTunesConnect.woa/ra/ng/

[2016-01-28 19:47] molind commented on #113
Sometimes I need to update app description or what's new after app release. I launch deliver with --skip_screenshots option and basically it should just update what's new and description or, even better, check changes and update only changed info. And throw exception if I changed screenshot or keywords.

[2016-01-29 16:28] whisdol opened #231 "Read/Write Country Availability"
From what I've seen in the iTunesConnect docs and in my first experiements, it's currently not possible to get the list of countries where an app is available. Is it possible to add this functionality to Spaceship?

[2016-01-29 19:35] Buju77 commented on #228
actually the url to resolution center didn't change. its still

`"ra/apps/#{app_id}/platforms/#{platform}/resolutionCenter?v=latest"`

as in `tunes_client.rb:get_resolution_center(app_id, platform)` method.

the bug right now is really that `app.platform` from `Application.find(app_id)` returns `nil` and therefore passed in `platform` to `get_resolution_center` is `nil` and the built url won't con

[2016-01-29 19:58] KrauseFx commented on #231
Sorry, that's not planned currently

[2016-01-30 01:25] KrauseFx commented on #229
I'm not a big fan of adding yet another parameter to all those methods, however I wouldn't know a better solution out of the top of my head

[2016-01-30 01:53] christopherstott commented on #229
I'm not a fan either. I've got it implemented here and it works though.

I can open a pull request as it is?

Another approach would be to introduce a `platform` parameter, that defaults to `ios`, and can be `tvos` or `mac` and deprecate the existing mac param. I'm not sure your policy on breaking API changes, but this would at least give have a path to deprecating.

[2016-01-31 05:20] KrauseFx commented on #229
Yeah, please submit a PR and we can discuss everything from there! Thank you for your contribution :+1:

[2016-02-02 07:23] Wojcik commented on #68
It would be cool if you will add info about primary language for the app from iTC.

[2016-02-05 05:47] bassrock commented on #229
I think deprecating the mac param and changing it to platform would be the best. Also ensure it could be updated if apple decides to add anything else.

As far as a breaking change, not sure if ruby provides function overloading, but that may be a way to support old functionality. Or do a check to find the type of the last param, for instance if it is a bool, then set the platform value accordingl

[2016-02-05 05:48] bassrock commented on #229
Also these issues depend on this:

https://github.com/fastlane/sigh/issues/226
https://github.com/fastlane/match/issues/104

[2016-02-05 06:26] christopherstott commented on #229
@bassrock I like that approach. I'll try it out in buddybuild for the next week or so and see how it goes.

[2016-02-05 18:01] #227 closed

[2016-02-10 08:04] ohwutup commented on #113
thanks for letting us know you are having that issue @molind, right now this is not supported, so we will definitely mark it as a feature request and close the issue for now.

[2016-02-10 08:04] #113 closed

[2016-02-10 17:33] ciryon commented on #115
I get this error when "Waiting for iTunes Connect to process the new build". Could it be that iTunes Connect thinks pilot polls to much/often and then throws Unauthorized Access?

[2016-02-10 17:37] ciryon commented on #150
I get the "Unauthorized access" error after "Waiting for iTunes Connect to process the new build" about 30 minutes. It seemed about 50% today if I got the issue or not.

[2016-02-11 03:20] i2amsam commented on #115
I'm closing this to help keep all the status in one place over in #150. :fast_forward:

[2016-02-11 03:20] #115 closed

[2016-02-11 19:48] bassrock commented on #229
@christopherstott Yep I'm trying something now and will commit it in a bit.

[2016-02-11 20:38] Fogh commented on #168
It would be great with a way to init fastlane without connecting to the Developer portal and iTunes Connect

[2016-02-13 11:27] lacostej opened #240 "log_request loses information if parameter url_or_path passed using block to Faraday"
(Spinned of from #235)

Under https://github.com/fastlane/spaceship/blob/0.19.4/lib/spaceship/client.rb#L214-L231, if `url_or_path` is specified in block, e.g. like https://github.com/fastlane/spaceship/blob/0.19.4/lib/spaceship/tunes/tunes_client.rb#L61, then the log_request loses information, making it harder to use the logs for troubleshooting.

I really know how to solve that but to force the

[2016-02-13 11:29] lacostej opened #241 "log_request isn't performed for retried requests."
(spinned off #235 and related to #240)

NOTE: we only log once, even if we retry multiple times. We should consider logging at every attempt, which would make it more clear to what is going on.

[2016-02-13 11:34] lacostej opened #242 "403 should/could be treated differently than 401 under tunes_client"
(Spinned off #235)

Before #235, tunes_client used to treat 401 and 403 in the same way: https://github.com/fastlane/spaceship/blob/0.19.4/lib/spaceship/tunes/tunes_client.rb#L142-L143

Now 401 gets it's own treatment.

In theory 401 and 403 status codes are supposedly used for different purposes (https://en.wikipedia.org/wiki/HTTP_403#Difference_from_status_.22401_Unauthorized.22).

Maybe Apple i

[2016-02-13 12:05] lacostej commented on #218
related to #150 Should be fixed by #225 when merged.

[2016-02-13 12:13] lacostej commented on #173
@mcactive could you be a bit more specific ? 0.5.3 introduced better identification of invalid login attemps, see https://github.com/fastlane/spaceship/compare/0.5.2...0.5.3

Where were you catching InvalidUserCredentialsError and under which circumstances doesn't it work anymore ?

[2016-02-13 12:19] lacostej commented on #105
This could be related to #150. A long request will cause the request to be retried multiple times. Sometimes ITC ends up returning 401s. I would re-try after merging #235

[2016-02-14 19:50] pschneider commented on #168
Thought of the same as @Fogh
For example if you just want to test an internal lane (jenkins, ui/unit testing)

[2016-02-15 07:17] Fogh commented on #168
Exactly. Right now you can't do this without having access to the Developer portal and iTunes Connect.

[2016-02-15 11:06] lacostej commented on #228
It looks like appType isn't returned anymore for application.

[code]

[2016-02-15 11:29] lacostej commented on #228
And so is gone `versions`, replaced by `versionSets`

[2016-02-15 13:42] KrauseFx commented on #168
@Fogh @pschneider What specific tool do you refer to? For example you can run `match` in `--readonly` mode, designed for CI systems :+1:

[2016-02-15 14:50] Fogh commented on #168
I was talking about when you run `fastlane init`. It seems like it needs to connect to the Developer portal and iTunes Connect to complete the setup.

[2016-02-16 15:53] betodr commented on #226
Any news about it? I'm trying to find a solution in source code, but, I'm finding some dificulties.

[2016-02-17 19:31] KrauseFx commented on #226
@betodr Sorry I don't understand, which tool tries to access iTunes Connect when you login with a Developer Portal account? I think you're talking about a separate issue.

@betodr Please provide the complete output, all configuration files and the full stack trace :+1:

[2016-02-18 21:24] anton-matosov opened #247 "ERROR ITMS-3000: "Line 3 column 66: value of attribute "app_platform" is invalid; must be equal to "appletvos", "ios" or "osx" at XPath /package/software_assets""
Log:
[code]

metadata.xml
[code]

[2016-02-18 22:03] hjanuschka commented on #247
+1 same here opened the issue on fastlane/fastlane

@KrauseFx

[2016-02-18 22:14] hjanuschka commented on #247
ok downgrading to `spaceship-0.19.4` seems to help, atleast my builds now upload fine.

[code]

and remove the `0.20.0` version.

[2016-02-18 23:15] lacostej commented on #247
Given http://old.elementswiki.com/en/Info.plist ("DTPlatformName — set to "iphoneos", "iphonesimulator" or "macosx", respectively")

Problem is most probably in pilot: https://github.com/fastlane/pilot/blob/1.4.0/lib/pilot/build_manager.rb#L14

[2016-02-18 23:16] lacostej commented on #247
I haven't tested that at all...

[2016-02-19 00:04] adc-amatosov commented on #247
According to error message `"app_platform" is invalid; must be equal to "appletvos", "ios" or "osx" at XPath /package/software_assets"`

[2016-02-19 02:36] programmin1 opened #248 "Consistently getting timeout when trying to get provisioning profile."
I set up Spaceship today and tried a simple example, but I consistently got timeout errors in any attempt to fetch provisioning profiles. Logging in on browser and downloading works just fine.

[code]

It prints nothing, then finally gives:
[code]

[2016-02-19 03:12] KrauseFx commented on #247
Sorry about that, working on a fix right now!

[2016-02-19 03:17] bluefallsky commented on #175
same error here.
When via iTunes Connect page no errors.

[2016-02-19 03:18] #247 closed

[2016-02-19 03:18] KrauseFx commented on #247
Pushing a new release now, sorry for the troubles :+1:

[2016-02-19 03:21] bluefallsky opened #249 "iTC response fail"
event id : 58a1bc40cab35e1fa93af1d4460f4e93

[37m[03:17:40]: [0mWaiting for iTunes Connect to process the new build
[37m[03:19:25]: [0mWaiting for iTunes Connect to finish processing the new build (0.2.99 - 0)
[37m[03:19:55]: [0m[32mSuccessfully finished processing the build[0m
[37m[03:19:55]: [0mYou can now tweet:
[37m[03:19:55]: [0m[33miTunes Connect #iosprocessingtime 33 minutes[0

[2016-02-19 03:24] KrauseFx commented on #247
Just pushed a fix https://github.com/fastlane/pilot/pull/148 :rocket: Sorry again for the troubles

[2016-02-19 03:56] anton-matosov commented on #247
Thanks for fast response =)

[2016-02-19 14:45] vpolouchkine commented on #249
Can you please share your setup? Fastfile et co.

[2016-02-19 14:52] vpolouchkine commented on #248
Can you try `spaceship playground`? https://github.com/fastlane/spaceship#playground
I ran `Spaceship.provisioning_profile.app_store.find_by_bundle_id("com.foo.bar")` and it worked as expected.

[2016-02-19 16:30] programmin1 commented on #248
Thanks for looking into this - yes, I installed spaceship on another computer and I still get read timeout in spaceship playground:

[code]

[2016-02-19 16:33] programmin1 opened #250 "Wrong message in spaceship playground message"
I installed spaceship on Ubuntu and when running spaceship playground I get this message:

"The login information you enter will be stored in your Mac OS Keychain"

How is it going to do that? :)

[2016-02-19 19:22] KrauseFx commented on #248
You are using Linux, right? Does the same thing work on Mac?

[2016-02-19 19:22] KrauseFx commented on #247
:rocket:

[2016-02-19 19:23] KrauseFx commented on #175
I'll close this issue for now, feel free to re-open if you run into this issue again :+1:

[2016-02-19 19:23] #175 closed

[2016-02-19 20:53] programmin1 commented on #248
Same behavior on the Mac and Linux. I tried on Linux on a different network.
________________________________
From: Felix Krause<mailto:notifications@github.com>
Sent: ‎2/‎19/‎2016 11:22 AM
To: fastlane/spaceship<mailto:spaceship@noreply.github.com>
Cc: programmin1<mailto:luke32j@msn.com>
Subject: Re: [spaceship] Consistently getting timeout when trying to get provisioning profile. (#248)

You are

[2016-02-20 16:18] lacostej opened #252 "Accessing BUNDLE type of application fails in client.app_version"
if you have an app bundle on ITC, te overview data looks like

[code]

[code]

[2016-02-20 17:51] lacostej opened #253 "retry on EPIPE"
We do not recover from SSL EPIPE issues. We could try to use :httpclient instead, as I heard it is a bit more stable (https://github.com/adhearsion/att_speech/issues/10), but I haven't been able to get it to work yet. In particular:
* authentication doesn't work (cookie integration issue ?). I tried to use a proxy to troubleshoot but
* OpenSSL::SSL::VERIFY_PEER  appears to be already set.
* https

[2016-02-21 11:00] #94 closed

[2016-02-21 11:23] DrumahSmith opened #254 "Ability to "Release This Version" from "Pending Developer Release""
It could be that I have been looking in the wrong place or not modifying the correct values, but there doesn't appear to be a way of sending an app live if the status is in pendingDeveloperRelease.

If this is already a feature could this be added to the documentation (or please provide me with the correct methods), otherwise this would be a great addition to the spaceship tools.

[2016-02-22 03:54] bluefallsky commented on #249
i have no setup.
use command "pilot upload -u <user> -a <appId> -i <ipaPath>"

[2016-02-22 03:57] bluefallsky commented on #249
Now, I try pilot version 1.4.1..
Previous version is 1.3.0

[2016-02-22 07:25] bluefallsky commented on #249
No Error on version 1.4.1
maybe related with https://github.com/fastlane/spaceship/issues/175

[2016-02-22 07:25] #249 closed

[2016-02-22 12:28] s0mmer opened #256 "undefined method `can_download' after installing spaceship v. 0.21"
After upgrading spaceship to version 0.21, I started experiencing the following error:

[code]

It seems to happen right after the `cert` step:
[code]

Running `cert` and `sigh` manually works fine.

[2016-02-22 12:53] lacostej commented on #256
Most probably an older version of spaceship is loaded.

The cert tool should depend on 0.19.0 instead (https://github.com/fastlane/spaceship/releases/tag/0.19.0)

https://github.com/fastlane/cert/blob/master/cert.gemspec#L26

So I sent a PR.

[2016-02-22 17:18] ohwutup commented on #226
@betodr, we definitely are planning to fix this. but if you would like to get us a PR thats makes the fix, that would be amazing!

[2016-02-22 21:11] programmin1 commented on #248
Still getting timeout - did something change with the api? What's the best way to debug this?

[2016-02-22 21:53] lacostej commented on #205
@KrauseFx this one can be closed.

[2016-02-22 21:53] lacostej commented on #206
@KrauseFx this one can be closed.

[2016-02-22 21:54] #205 closed

[2016-02-22 21:54] #206 closed

[2016-02-22 21:57] lacostej commented on #248
@programmin1 How many profiles do you have ?

spacseship needs to iterate through all your profiles to find the one with the id. If you have many, it could be a problem (it was in the past fastlane/sigh#124)

[2016-02-22 22:01] lacostej commented on #213
Here's the diff between the two versions: https://github.com/fastlane/spaceship/compare/0.18.0...0.19.0

Could it be that becaue the ID of the prouctionpush changed from 3BQKVH9I2X to UPV3DW712I, then the listing isn't able to find the old ones ?

https://github.com/fastlane/spaceship/commit/0434fb3410ff3c6019f99033c1e3ad075afcd431#diff-8b1b54d9bbbe101d2d70c6f1e68b8b99

[2016-02-23 02:12] programmin1 commented on #248
Looks like that's it, too many profiles. If I dug in to the code and managed to fix that timeout, would searching not take too long after the initial fetch-all-profiles?

[2016-02-23 02:57] KrauseFx commented on #206
Thanks @lacostej :+1:

[2016-02-23 02:58] KrauseFx commented on #256
Thanks @lacostej, fixed with your PR :+1:

[2016-02-23 02:58] #256 closed

[2016-02-23 02:59] KrauseFx commented on #256
@s0mmer Please upgrade manually in the mean time using `sudo gem update spaceship` or `bundle update` if you use `bundler`

[2016-02-23 10:05] lacostej commented on #248
First, the `spaceship` library was upgraded to handle better timeouts. So you might have so luck at upgrading it (`gem update spaceship`). Otherwise we might need to implement pagination better, or maybe there's a better way to get the list of certificates hidden somewhere.

[2016-02-23 16:20] lacostej commented on #213
I checked in portal, and my browser is sending the following types

for ios:

5QPB9NHCEI,R58UK2EWSO,9RQEK7MSXA,LA30L5BJEU,BKLRAVXMGM,3BQKVH9I2X,Y3B2F3TYSI,3T2ZP62QW8,E5D663CMZW,4APLUP237T,T44PTHVNID,DZQUP8189Y,FGQUP4785Z,S5WE21TULA,UPV3DW712I,FUOY7LWJET

not sure for mac as I don't have any

So it appears we are missing some types ?

I sent a PR. @vladislive  would you mind trying to see if it wor

[2016-02-24 21:26] jamesallison commented on #168
+1, 2 step would be awesome to have

[2016-02-25 13:33] #253 closed

[2016-02-25 20:51] ohwutup commented on #226
Hey @betodr! We just pushed a release that fixes this issue! Going to close this for now but please comment here if you are still running into problems! :100:

[2016-02-25 20:51] #226 closed

[2016-02-25 22:00] vpolouchkine commented on #168
@jamesallison Can you create a new issue please? We'll mark it accordingly.

[2016-02-25 22:00] #168 closed

[2016-02-25 22:08] vpolouchkine commented on #254
Great idea! I will share this with the team and see what we can do in a future release. I’ll reopen this ticket and keep you updated when we get a chance to revisit this, stay tuned :+1: If you want to tackle this yourself, check out the [countdown](https://github.com/fastlane/countdown) repo to learn how to contribute to `fastlane`.

[2016-02-25 22:08] #254 closed

[2016-02-25 22:31] jamesallison commented on #168
@vpolouchkine Sure

[2016-02-25 22:33] jamesallison opened #260 "Two-Step Authentication"
2 step authentication would be great to have; would prefer not to make my account less secure to use Spaceship :smile:

[2016-02-25 23:56] vpolouchkine commented on #260
Great idea! I will share this with the team and see what we can do in a future release. I’ll reopen this ticket and keep you updated when we get a chance to revisit this, stay tuned :+1: If you want to tackle this yourself, check out the [countdown](https://github.com/fastlane/countdown) repo to learn how to contribute to `fastlane`.

[2016-02-25 23:56] #260 closed

[2016-02-26 09:51] lacostej opened #261 "spaceship goes into infinite loop when user doesn't have proper access rights."
See fastlane/fastlane#1407 for details and discussion in #259

[2016-02-26 13:41] sowenjub commented on #182
Hi @KrauseFx , I got this error too, but that's because there are 2 required phone numbers:
- one in the App Review Information
- one in the Trade Representative Contact Information

As far as I understand, the second one used to be optional (my previous app version doesn't have one), but now even if the App Review has a valid phone number, the whole page won't save, hence the error since spaceshi

[2016-02-26 18:27] KrauseFx commented on #260
Duplicate of https://github.com/fastlane/spaceship/issues/168

[2016-02-26 18:32] KrauseFx commented on #261
This is resolved with #262? :+1:

[2016-02-28 09:44] gran33 opened #264 "Keep getting this error 'UnexpectedResponse'"
[code]

[2016-02-29 18:45] vpolouchkine commented on #264
Can you please provide more context? What were you doing that caused this error?

[2016-02-29 19:21] tomislav commented on #264
I have the same issue. I'm just trying to set up match for the first time by running "match development"

[code]

[2016-02-29 19:44] lacostej commented on #264
@tomislav match fails because spaceship, the underlying library, expects to find a data field named `teams` under the response, but doesn't find it.

Not really sure what could cause that. Either a change in ITC, or maybe a permission issue ? Does your user have proper permission to access the developer portal ?

[2016-02-29 20:09] tomislav commented on #264
@lacostej I created a new iTC user for match (as per the documentation) and the user has the "App Manager" role. I've tried switching the user to the Admin role but still get the same error.

I can log in the use the developer portal just fine with that user.

But when I use the main account owner account it works fine.

[2016-02-29 20:15] tomislav commented on #264
I think the issue might be that the Apple ID for the new user was not verified. I'm trying to verify it now, but Apple is taking it's time to send the email.

[2016-03-01 12:08] lacostej opened #267 "Try to provide more contextual information when errors are in the response"
The json returned by ITC contains errors at 2 levels: individual fields (e.g. phone numbers of invalid format) and top level (to easily check if an error is there without having to check the whole json file). spaceship only looks at the top level, where context information is lost. This causes issues like #182 or

[code]

(hjanuschka [12:41 PM]  since one of the recent updates i get this at the en

[2016-03-01 12:20] hjanuschka commented on #267
same as here: https://github.com/fastlane/pilot/issues/156

[2016-03-01 14:02] ebmifa opened #268 "Has apple's JSON's schema changed again?"
https://itunesconnect.apple.com/WebObjects/iTunesConnect.woa/ra/apps/XXXX/overview has been throwing 403 starting yesterday with "{"data":null,"messages":{"warn":null,"info":null,"error":["Unexpected Error"]},"statusCode":"ERROR"}"

[2016-03-01 14:09] lacostej commented on #268
is your ID correct ? Are your permissions correct ? It works for me for my apps but fails if I try to point to an app I don't have access to.

[2016-03-01 20:46] lacostej opened #269 "Proper detection of invalid ITC/Portal user rights"
I've seen a set of issues in all ITC / Portal related set of tools. If the user is in one of the following state:
* unconfirmed
* no team
* not enough permissions

spaceship / fastlane will fail in strange ways.

There are many issues opened/closed in the various repos that point to this.

I suggest time is spent identifying ways to detect these scenarios from the API (e.g. at login, etc), and rep

[2016-03-01 20:51] lacostej commented on #213
@vladislive @mpirri  this should have been fixed in 0.21.1

[2016-03-01 22:21] KrauseFx commented on #269
Very good point, I completely agree :+1:

[2016-03-03 23:22] kdawgwilk opened #274 "[!] Couldn't download certificate, got this instead: HTTP 405 Method Not Allowed"
Sentry # b173de00fe11e0409b9b3a12f4367e26

When trying to use match for adhoc provisioning it fails with this exception being thrown:
[code]

[2016-03-03 23:23] KrauseFx commented on #274
Sorry about this, we already pushed a new version of spaceship: https://github.com/fastlane/spaceship/releases/tag/0.22.0. Please update using `sudo gem update spaceship` and let us know if that solves the issue :rocket:

[2016-03-03 23:48] kdawgwilk commented on #274
:+1: All good to go! I tried working around it before I updated but they introduced so many bugs with the update that the only way to get provisioning done was through fastlane

[2016-03-04 00:54] KrauseFx commented on #274
Alright, great to hear :+1:

[2016-03-04 00:54] #274 closed

[2016-03-04 01:58] ArtSabintsev commented on #175
I just received this issue when attempting to send a build out to external testers. Here's the kicker: I uploaded manually via Xcode.

[2016-03-04 04:15] ArtSabintsev commented on #175
The issue fixed itself after 2 hours.

[2016-03-04 15:56] ratkins opened #276 "Can spaceship download iTC-generated dSYMs for apps submitted as Bitcode?"
Neither the [iTunes Connect](https://github.com/fastlane/spaceship/blob/master/docs/iTunesConnect.md) or [Developer Portal](https://github.com/fastlane/spaceship/blob/master/docs/DeveloperPortal.md) spaceship docs mention downloading dSYMs.

(Support for this feature would allow automating symbolication of crash reports delivered via [Hockey](http://hockeyapp.net/) and other third party app distri

[2016-03-04 17:34] lacostej commented on #276
See #142 for some info.

[2016-03-04 23:23] sfransen opened #277 "Help I am confused on something profile.devices = Spaceship.device.all"
@KrauseFx
I am trying to add all Devices to each Provision Profiles since Cupertino is not working any more.

 So I changing sign
 but the this line of code from spaceship is not working right
profile.devices = Spaceship.device.all # This line doesn't seems to do anything
 if I do this line it crashes
#profile.update!  crashes here

 what am I doing wrong or has Apple Site messed us up some more.

[2016-03-04 23:27] sfransen commented on #277
By The way I running this command
sigh download_all --force debug --verbose --skip_install

[2016-03-05 05:49] jlyonsmith opened #278 "Unable to download profiles"
I don't appear to be able to download profiles any more.  I can go to the Apple Dev Portal and download it, but the `download` method returns text beginning with:

[code]

I checked the link by copying it from the Dev Portal and it looks similar to what is being constructed at https://github.com/fastlane/spaceship/blob/6d817fe6603c131daa710f1acb2642d357be60a8/lib/spaceship/portal/portal_client.rb#

[2016-03-05 06:17] jlyonsmith commented on #278
I used Charles to spy on the request and it looks like the download is going to `https://developer.apple.com/account/ios/profile/profileContentDownload.action?displayId=XXXXX&teamId=XXXX` which is wrong.  I think it should be `https://developer.apple.com/services-account/QH65B2/account/ios/profile/downloadProfileContent?teamId=XXXXXXX`

[2016-03-05 06:35] jlyonsmith commented on #278
OK, never mind.  I needed to upgraded to **0.22**.

[2016-03-05 06:35] #278 closed

[2016-03-05 09:21] lacostej commented on #276
Only thing I found so far is that it fetches data from contentdelivery.itunes.apple.com. I will need to setup proper proxying to find the correct API. See also https://github.com/sshaw/itunes_store_transporter

[2016-03-06 17:39] materik opened #279 "Couldn't download certificate"
Getting this error when running `cert`. I have a bunch of different certificates from different accounts and teams on my computer so I guess it tries to fetch the wrong one?
[code]

[2016-03-06 22:30] sfransen commented on #277
I can create new Provision profiles and all Devices are added to it. but I can't seem to add to existing provision profiles does this work for other people?

[2016-03-07 15:57] burczyk commented on #168
I assume this issue is not yet fully fixed as I'm getting this error:
`.rvm/gems/ruby-2.2.0@global/gems/spaceship-0.22.0/lib/spaceship/portal/portal_client.rb:45:in `send_login_request': [!] spaceship / fastlane doesn't support 2 step enabled accounts yet. Please temporary disable 2 step verification until spaceship was updated.`

From logs I assume it's `0.22` version and I get this error while u

[2016-03-07 18:05] vpolouchkine commented on #279
Try specifying `--team_id`.

[2016-03-07 18:41] materik commented on #279
it is specified in the `Appfile` but I can try it...

[2016-03-07 18:42] materik commented on #279
yeah.. same issue :unamused:

[2016-03-07 21:11] #279 closed

[2016-03-07 21:11] #277 closed

[2016-03-07 21:11] #276 closed

[2016-03-07 21:12] #269 closed

[2016-03-07 21:12] #268 closed

[2016-03-07 21:12] #267 closed

[2016-03-07 21:12] #264 closed

[2016-03-07 21:13] #261 closed

[2016-03-07 21:13] #252 closed

[2016-03-07 21:13] #250 closed

[2016-03-07 21:14] #248 closed

[2016-03-07 21:14] #242 closed

[2016-03-07 21:14] #241 closed

[2016-03-07 21:14] #240 closed

[2016-03-07 21:14] #231 closed

[2016-03-07 21:15] #229 closed

[2016-03-07 21:15] #228 closed

[2016-03-07 21:15] #219 closed

[2016-03-07 21:15] #218 closed

[2016-03-07 21:16] #213 closed

[2016-03-07 21:16] #211 closed

[2016-03-07 21:16] #209 closed

[2016-03-07 21:16] #198 closed

[2016-03-07 21:17] #197 closed

[2016-03-07 21:17] #196 closed

[2016-03-07 21:17] #195 closed

[2016-03-07 21:17] #189 closed

[2016-03-07 21:18] #188 closed

[2016-03-07 21:18] #185 closed

[2016-03-07 21:18] #183 closed

[2016-03-07 21:18] #180 closed

[2016-03-07 21:19] #179 closed

[2016-03-07 21:19] #177 closed

[2016-03-07 21:19] #176 closed

[2016-03-07 21:19] #173 closed

[2016-03-07 21:19] #162 closed

[2016-03-07 21:20] #161 closed

[2016-03-07 21:20] #152 closed

[2016-03-07 21:20] #151 closed

[2016-03-07 21:20] #150 closed

[2016-03-07 21:21] #149 closed

[2016-03-07 21:21] #142 closed

[2016-03-07 21:21] #135 closed

[2016-03-07 21:21] #133 closed

[2016-03-07 21:22] #130 closed

[2016-03-07 21:22] #129 closed

[2016-03-07 21:22] #126 closed

[2016-03-07 21:22] #121 closed

[2016-03-07 21:23] #120 closed

[2016-03-07 21:23] #119 closed

[2016-03-07 21:23] #117 closed

[2016-03-07 21:23] #105 closed

[2016-03-07 21:23] #101 closed

[2016-03-07 21:24] #100 closed

[2016-03-07 21:24] #96 closed

[2016-03-07 21:24] #88 closed

[2016-03-07 21:24] #82 closed

[2016-03-07 21:25] #75 closed

[2016-03-07 21:25] #73 closed

[2016-03-07 21:25] #72 closed

[2016-03-07 21:25] #71 closed

[2016-03-07 21:25] #69 closed

[2016-03-07 21:26] #68 closed

[2016-03-07 21:26] #54 closed

[2016-03-08 10:56] Rameshv opened #282 "Problem downloading the profile"
Hi @KrauseFx
  I have problem downloading the profile. I am able to successfully login -> Add device -> Update Profile withe new devices, but having issue when downloading. Heres the error log

[code]

i am using spaceship version `spaceship (0.21.1)`

[2016-03-08 11:30] Rameshv commented on #282
Even after following the suggestions, like
  - Using the return value of profile.update!
  - Re-initialise the profiles after update and use that instance to download
  - Just simply downloading the profile without update `(this is new)`
 from this thread https://github.com/fastlane/spaceship/issues/176

Nothing works. can anyone help me out?

[2016-03-08 13:36] sfransen commented on #282
I reported this over the weekend

Sent from my iPhone5

[2016-03-08 13:50] lacostej commented on #282
@Rameshv fastlane moved to a monorepo yesterday. I would advise to report your issues on https://github.com/fastlane/fastlane instead (or check if one of the existing issue matches your, maybe #2013)

[2016-03-08 17:53] sandorhadasdig opened #283 "Running spaceship from a server side script"
Hello There,

I am not sure if that this is a Spaceship issue or not, and I would appreciate any idea on this one.
I have two scripts, a ruby script and a php script.
The ruby script looks about like:

    #!/usr/bin/env ruby
    $LOAD_PATH.push File.expand_path("spaceship/lib")
    require "spaceship"
    begin
        puts "DEBUG: This is printed"
        Spaceship.login(ARGV[0], ARGV[1])

[2016-03-08 19:35] KrauseFx commented on #282
Thanks @lacostej :+1:

[2016-03-08 19:35] #282 closed

[2016-03-08 20:03] samrobbins commented on #283
@sandorhadasdig we have moved `spaceship` the `fastlane` main repo https://github.com/fastlane/fastlane/tree/master/spaceship. Please create your issue there, thanks!

[2016-03-08 20:03] #283 closed

[2017-04-04 18:14] KrauseFx commented on #168
Hey everyone, _fastlane_ now fully supports both two-factor and two-step verification 👋

Please make sure to update to the latest version of _fastlane_ by running

[code]

If you use a `Gemfile`, just run `bundle update`

### On your computer 🚀
To use _fastlane_ with two-factor, just run _fastlane_ as you usually would. You'll be asked for the verification method, and a 4 or 6 digits pin. Everythi